<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height = device-height" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="telephone=no" name="format-detection" />
    <title>智放</title>

    <!--模板样式-->
    <link rel="stylesheet" href="assets/css/style.default.css" type="text/css" />
    <!--jquery 时间选择器-->
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/jquery.bxslider.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/star-font.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/star-rating.min.css" type="text/css" />
	  <link rel="stylesheet" href="assets/css/roll.css" type="text/css" />
 <link rel="stylesheet" href="assets/css/star-rating.min.css" type="text/css" />
    <!--字体样式-->
    <link rel="stylesheet" href="assets/css/iconfont.css" type="text/css" />
    <!--字体样式-->
    <link rel="stylesheet" href="assets/css/cropper.min.css" type="text/css" />
    <!--ios switch-->
    <link rel="stylesheet" href="assets/css/lc_switch.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/money.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/common.css" type="text/css" />
	
    <!--favicon.ico-->
    <link href="assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
	<link href="assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="assets/css/zhifang.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/style_.css" type="text/css" />
   
    <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="assets/js/data.js"></script>
    <script type="text/javascript" src="assets/js/project.js"></script>
  
   <script type="text/javascript" src="assets/js/slider_.js"></script>
    <script type="text/javascript" src="assets/js/base_.js"></script> 
	<script type="text/javascript" src="assets/js/jquery-ui-1.9.2.min.js"></script>
     <script>
	 //合并
  jQuery(function() {
       
        jQuery(".money_content").draggable({
		 
          start:function(){
              jQuery(this).find('.please').show();
			  jQuery(this).css('z-index','2');
			  console.log('a')
               } ,
            drag:function(){
                 jQuery(".money_content" ).draggable({ revert: "valid",revert: true });
				   $this_ = jQuery(this);
				    console.log('b')
                },
            stop:function(){
			     
              jQuery('.please').hide();
			   console.log('e');
               
			}
       
	   });
	   
     jQuery( ".money_content" ).droppable({
          drop: function(event, ui ) {
         var like=window.confirm('确定合并');
	     if(like==true){
		     $this_.remove();
			 console.log('c')
           }
       else{
　　　　    jQuery( ".money_content").draggable({ revert: "valid",revert: true });
            console.log('d')
           }
        }
     });
	 
    
 
  });

 </script>
</head>

<body>
<div class="zzc">
   <div class="change_price">
       <p class="change_price_">确定价格<span class="money_close_"><img src="assets/images/close.png"></span></p>
	     <div class="money_head_content">
	        <div class="money_head clearfix">
				<p class="money_head_p"><img src="assets/images/money_head.png"></p>
				<div class="boss_number_">
				  <span class="boss_sex">欧老板（男）</span>
				   <span class="order_number">订单号：<em>201604270027</em></span>
				
				</div>
			   
			    
			</div>
		<div class="roll_money">
            <span class="LeftBotton"><img src="assets/images/left_click.png"></span>		
			<div class="money_card">
			 
			    <ul class="clearfix money_card_content"> 
				  <li>
				    <div class="original_card">
					  <div class="card_first"> 原价卡 <span class="circle_pic"><img src="assets/images/circle.png"></span></div>
					  <p>余额：<em class="rest">1230</em></p>
					   <p>项目折扣：<em class="ten_money">10折</em></p>
					    <p>商品折扣：<em class="ten_money">10折</em></p>
					</div>
				  </li>
				    <li>
				    <div class="original_card">
					  <div class="card_first"> 原价卡 <span class="circle_pic"><img src="assets/images/circle.png"></span></div>
					  <p>余额：<em class="rest">1230</em></p>
					   <p>项目折扣：<em class="ten_money">10折</em></p>
					    <p>商品折扣：<em class="ten_money">10折</em></p>
					</div>
				  </li>
				  <li>
				    <div class="original_card">
					  <div class="card_first"> 原价卡 <span class="circle_pic"><img src="assets/images/circle.png"></span></div>
					  <p>余额：<em class="rest">1230</em></p>
					   <p>项目折扣：<em class="ten_money">10折</em></p>
					    <p>商品折扣：<em class="ten_money">10折</em></p>
					</div>
				  </li>
				
				  <li>
				    <div class="original_card">
					  <div class="card_first"> 原价卡 <span class="circle_pic"><img src="assets/images/circle.png"></span></div>
					  <p>余额：<em class="rest">1230</em></p>
					   <p>项目折扣：<em class="ten_money">10折</em></p>
					    <p>商品折扣：<em class="ten_money">10折</em></p>
					</div>
				  </li>
				
				
				  <li>
				    <div class="original_card">
					  <div class="card_first"> 原价卡 <span class="circle_pic"><img src="assets/images/circle.png"></span></div>
					  <p>余额：<em class="rest">1230</em></p>
					   <p>项目折扣：<em class="ten_money">10折</em></p>
					    <p>商品折扣：<em class="ten_money">10折</em></p>
					</div>
				  </li>
				
				
				  <li>
				    <div class="original_card">
					  <div class="card_first"> 原价卡 <span class="circle_pic"><img src="assets/images/circle.png"></span></div>
					  <p>余额：<em class="rest">1230</em></p>
					   <p>项目折扣：<em class="ten_money">10折</em></p>
					    <p>商品折扣：<em class="ten_money">10折</em></p>
					</div>
				  </li>
				
				
				</ul>
	      </div>
		     <span class="RightBotton"><img src="assets/images/right_click.png"></span>
	 </div>
			<table class="money_change">
				   <tr>
				     <td>项目名称</td>
					 <td>项目价格</td>
					 <td>会员价格</td>
					 <td>疗程/礼金/优惠券抵扣</td>
					 <td>实收金额</td>
				   </tr>
				     <tr>
				     <td>施华蔻烫</td>
					 <td>588</td>
					 <td>588</td>
					  <td>
					    <select>
						  <option>不适用优惠券</option>
						</select>
					  </td>
					 <td>214121</td>
				   </tr>
				     <tr>
				     <td>施华蔻烫</td>
					 <td>588</td>
					 <td>588</td>
					  <td>
					    <select>
						  <option>不适用优惠券</option>
						</select>
					  </td>
					 <td>214121</td>
				   </tr>
				     <tr>
				     <td>施华蔻烫</td>
					 <td>588</td>
					 <td>588</td>
					  <td>
					    <select>
						  <option>不适用优惠券</option>
						</select>
					  </td>
					 <td>214121</td>
				   </tr>
			</table>
			
			<p class="money_get"><span>应收：156414</span><em>应收：<i>156414</i></em></p>	
			<button class="money_next">下一步</button>
		
        </div>
    </div>
</div>	

<div class="zzc1">
   <div class="sure_price">
      <p class="sure_price_"><span class="money_close_1"><img src="assets/images/close.png"></span></p>
      
	  <div class="money_head_content">
	        <div class="money_head clearfix">
				<p class="money_head_p"><img src="assets/images/money_head.png"></p>
				<div class="boss_number_">
				  <span class="boss_sex">欧老板（男）</span>
				   <span class="order_number">订单号：<em>201604270027</em></span>
				
				</div>
			   
			    
			</div>
			<table class="zzc_1_card">
			  <tr>
                <td>支付卡</td>
				<td>金额</td>
				<td>项目折扣</td>
				<td>商品折扣</td>
			  </tr>
			    <tr>
                <td>原价卡</td>
				<td>1231</td>
				<td>10</td>
				<td>10</td>
			  </tr>
			</table>
	   
	       <table class="zzc_1_card1">
			  <tr>
                <td>订单原价</td>
				<td>抵扣金额</td>
				<td>实收金额</td>
				<td>操作</td>
			  </tr>
			    <tr>
                <td>1231</td>
				<td>0</td>
				<td>1231</td>
				<td><span class="change_price_red">改价</span></td>
			  </tr>
			</table>
		    <ul class="how_pay clearfix">
			  <li> 卡金支付<input type="text"></li>
			  <li style="margin-left:24px"> 挂账<input type="text"></li>
			  <li style="margin-left:12px"> 现金支付<input type="text"></li>
			  <li> 银联支付<input type="text"></li>
			  <li> 微信支付<input type="text"></li>
			  <li> 支护宝支付<input type="text"></li>
			  <li> 团购支付<input type="text"></li>
			</ul>
			<p class="money_get" style="margin-left:30px;margin-top:4px"><span>应收：156414</span><em>应收：<i>156414</i></em> <span class="notice">发送通知：<input type="radio" name="yes"> 是<input type="radio" name="yes"> 否</span> </p>	
			<button class="money_over">结账</button>
		   <div class="change_price_content">
		   <span class="money_add"><img src="assets/images/money_add.png"></span>
		   <div class="triangle"><img src="assets/images/triangle.png"></div>
		      <button class="sure_change_price">确认</button>
			  <table class="sure_table">
			     <tr>
				  <td>项目名称</td>
				  <td>项目金额</td>
				  <td>改价金额</td>
			     </tr>
				 <tr>
				   <td>
				      <select>
					     <option>店长洗剪吹<option>
					  </select>	 
				   </td>
				   <td>12214</td>
				   <td><input type="text"></td>
			     </tr>
			  </table>
		   
		   </div>
        </div>
   </div>
    
</div>	

<div class="loading">
    <img src="assets/img/tb-loading.gif" alt="" style="width: 200px;margin-top: -100px;"/>
</div>

<!--loading end-->

<div class="mainwrapper" id="mainwrapper" name="mainwrapper" style="display: none">

    <!--left-panel start-->
    <!-- LEFT PANEL 开始-->
<div class="leftpanel">

    <!--logo-->
    <div class="logo-wrap">
        <a href="index.html">
            <img src="assets/images/logo_by.png" alt=""/>
        </a>
    </div>

    <div class="leftmenu">
       
        <ul class="left_nav">
		
		   <li class="active1">
		    <div class="nav_img"><img src="assets/images/left_1.png"></div>
			<span>业务中心</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_2.png"></div>
			<span>会员管理</span>
		  </li>
		  <li >
		    <div class="nav_img"><img src="assets/images/left_3.png"></div>
			<span>营销中心</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_4.png"></div>
			<span>统计分析</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_5.png"></div>
			<span>服务设置</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_6.png"></div>
			<span>员工管理</span>
		  </li>
		 <li>
		    <div class="nav_img"><img src="assets/images/left_7.png"></div>
			<span>系统设置</span>
		  </li>
		</ul>
		
		<div class="left_nav_2">
		   <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left_1_1.png">自助收银</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left_1_2.png">手工开单</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left_1_3.png">开支记账</span>
			 </li>
			 <li> 
			    <span ><img src="assets/images/left_1_4.png">流水查询</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left_1_5.png">员工轮牌</span>
			 </li>
			
		  
		</ul>
		
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">微商店设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">营销方案库</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">优惠券管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">分享拓客</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		
		</div>
        <!--营业报表-->
        
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="yingyehuizong">
                <a href="report-yingyehuizong.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaika.png" alt=""/>-->
                        <i class="iconfont icon-yingyehuizong1 left-icon"></i>
                    </div>
                    营业汇总
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li name="report-xianjinshouru">
                <a href="report-xianjinshouru.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaika.png" alt=""/>-->
                        <i class="iconfont icon-xianjin-SR left-icon"></i>
                    </div>
                    现金收入
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li name="report-card-income">
                <a href="report-card-income.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-kaxiangxiaoshou left-icon"></i>
                    </div>
                    卡项销售
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-laodongyeji">
                <a href="report-laodongyeji.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaizhijizhang.png" alt=""/>-->
                        <i class="iconfont icon-laodongyeji left-icon"></i>
                    </div>
                    劳动业绩
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-huakaxiaofei">
                <a href="report-huakaxiaofei.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-kajin-XF left-icon"></i>
                    </div>
                    划卡消费
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-taocan-sell">
                <a href="report-taocan-sell.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaizhijizhang.png" alt=""/>-->
                        <i class="iconfont icon-taocanxiaoshou1 left-icon"></i>
                    </div>
                    套餐销售
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-shops-sell">
                <a href="report-shops-sell.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaizhijizhang.png" alt=""/>-->
                        <i class="iconfont icon-shangpinxiaoshou1 left-icon"></i>
                    </div>
                    商品销售
                </a>
            </li>
        </ul>
        <!-- 经营分析 -->
       
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-client-analyze">
                <a href="report-client-analyze.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/lunzhipaiban.png" alt=""/>-->
                        <i class="iconfont icon-keqingfenxi1 left-icon"></i>
                    </div>
                    客情分析
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="appointment-analyze">
                <a href="appointment-analyze.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/lunzhipaiban.png" alt=""/>-->
                        <i class="iconfont icon-yuyuefenxi1 left-icon"></i>
                    </div>
                    预约分析
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-emploee-analyze">
                <a href="report-emploee-analyze.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yuangongfenxi left-icon"></i>
                    </div>
                    员工分析
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-emploee-analyze">
                <a href="report-business-status.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yingyefenxi left-icon"></i>
                    </div>
                    营业分析
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-yingxiao">
                <a href="report-yingxiao.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yingxiaofenxi1 left-icon"></i>
                    </div>
                    营销分析
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="report-payroll">
                <a href="report-payroll.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaika.png" alt=""/>-->
                        <i class="iconfont icon-gongzidan4 left-icon"></i>
                    </div>
                    工资单
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-porfile">
                <a href="report-profile.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yuangong-FX left-icon"></i>
                    </div>
                    财务分析
                </a>
            </li>
        </ul>
        <!-- 服务设置模块 -->
      
		
        <!-- 员工设置模块 -->
      
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="gangwei-setting">
                <a href="gangwei-setting.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-zuzhijiagou left-icon"></i>
                    </div>
                    组织架构
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="post-data">
                <a href="post-data.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/lunzhipaiban.png" alt=""/>-->
                        <i class="iconfont icon-yuangong-ZL left-icon"></i>
                    </div>
                    员工资料
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="award-punishment">
                <a href="award-punishment.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-zhidu-KH left-icon"></i>
                    </div>
                    管理制度
                </a>
            </li>
            <!--<img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="employee-leave">
                <a href="employee-leave.html">
                    <div class="img-wrap">
                        &lt;!&ndash;<img src="assets/images/shouyin.png" alt=""/>&ndash;&gt;
                        <i class="iconfont icon-qingjia-SP left-icon"></i>
                    </div>
                    请假审批
                </a>
            </li>-->

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="employee-shift">
                <a href="employee-shift.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-yuangong-BC left-icon"></i>
                    </div>
                    排班设置
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="set-target">
                <a href="set-target.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-mdmubiao left-icon"></i>
                    </div>
                    目标设置
                </a>
            </li>

            <!--<img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="jingsai">
                <a href="jingsai.html">
                    <div class="img-wrap">
                        &lt;!&ndash;<img src="assets/images/kaizhijizhang.png" alt=""/>&ndash;&gt;
                        <i class="iconfont icon-wodebisai left-icon"></i>
                    </div>
                    组织比赛
                </a>
            </li>-->
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="target-assessment">
                <a href="target-assessment.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-kaohechengji left-icon"></i>
                    </div>
                    目标考核
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="employee-attendance">
                <a href="employee-attendance.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-kaiqin left-icon"></i>
                    </div>
                    考勤记录
                </a>
            </li>
        </ul>
        <!--系统设置-->
     
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="jueseguanli">
                <a href="jueseguanli.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-zuzhijiagou left-icon"></i>
                    </div>
                    角色管理
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="os-usage">
                <a href="os-usage.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    系统使用状况
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="zhanghuxinxi">
                <a href="zhanghuxinxi.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    账户信息
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="wodefendian">
                <a href="member-xuzhi.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    会员须知
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="wodefendian">
                <a href="wodefendian.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    我的分店
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="share-shezhi">
                <a href="share-shezhi.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    分享者设置
                </a>
            </li>
        </ul>
    </div><!--leftmenu-->
</div><!--mainleft-->

<!--LEFT PANEL结束 -->

    <!--left-panel end-->

    <!--RIGHT PANEL开始 -->
    <div class="rightpanel" style="margin-left: 200px;position:relative">
	<!--<div class="alertPanel">
	   <div class="part_panel">
	       <p>美发部</p>
		   <dl class="clearfix">
		      <dt>洗剪吹系列</dt>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
		    
		   
		   </dl>
		   
		    <dl class="clearfix">
		      <dt>洗剪吹系列</dt>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
		    
		   
		   </dl>
		   
		    <dl class="clearfix">
		      <dt>洗剪吹系列</dt>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
		    
		   
		   </dl>
	    </div> 
		
		<div class="part_panel">
	       <p>美发部</p>
		   <dl class="clearfix">
		      <dt>洗剪吹系列</dt>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
			  <dd>店长洗剪吹</dd>
		    
		   
		   </dl>
		   
		    
	    </div> 
		
		<div class="part_panel">
	       <p>美发部</p>
		  
		    
	    </div>
		
		<div class="part_panel">
	       <p>美发部</p>
		 
		    
		   
		   </dl>
		   
		    
	    </div>
	
	
	</div>-->
  <div class="headerpanel">
    <div class="headerlist">
        <div class="header_">
		  <div class="header_content">
		   <input type="text" class="input_" value="搜索">
		   <img src="assets/images/seach.png">
		   <span class="header_img"><img src="assets/images/logo_.png"></span>
		   <select>
		      <option>
			     111
			  </option>
		   <option>
			  111
			  </option>
		   
		   </select>
		   </div>
		</div>
		
       
    </div>
    <div class="xuanfu hide">
            <span class="yuan">
               <img src="../../assets/images/kefu.png" alt="" class="kefu-icon">

                <!--  <span class="xiaoxi">1</span>-->
            </span>
        <div class="xuanfu-main">
            <div class="fl">
                <div  class="kefu-status"><span>在线客服</span></div>
                <ul class="kefu-people">
                    <li style="height: 40px;line-height: 40px;color: #b2b2b2">客服列表</li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li class="current"><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont shanchu">&#xe625;</span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>

                </ul>
            </div>
            <div class="fr">
                <div class="xf-top">
                    <span class="iconfont icon-xx fr"></span>
                </div>
                <div class="kefu">
                    <ul class="bubble-main">

                        <li class="media clearfix">
                            <div class="media-left">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>
                            </div>
                        </li>
                        <li class="media clearfix media1">
                            <div class="media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>
                            </div>

                        </li>
                        <li class="media clearfix">
                            <div class="media-left">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>

                            </div>
                        </li>
                        <li class="media clearfix media1">
                            <div class="media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>
                            </div>

                        </li>

                    </ul>
                    <div class="bq-icon">
                        <span class="iconfont icon-xiaolian"></span>
                        <span class="iconfont icon-jietu"></span>
                        <span class="iconfont icon-scissors"></span>
                    </div>
                    <div class="search-sent">
                        <div>
                            <textarea type="text" class="sent-txt"></textarea>
                            <span class="send">发送</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div><!--headerpanel-->
   <!--项目设置 -->
  <div class='content_right clearfix'>
     <p class="money_">
	    <span>已结账单数合计：<em>308单</em> </span>
	    <span>已结账金额合计：<em>¥23510.00</em></span>
		<span>未结账单数合计：<em style="font-weight:bold;color:red">308单</em></span>
		<span>未结账金额合计：<em style="font-weight:bold;color:red">¥23510.00</em></span>
	 
	 </p>
    
   <div class="clearfix seo_first">
         <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			     <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户11</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			  <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 
		   <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			    <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			 <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 	   <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			   <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			  <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			    <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			  <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 
		  <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			   <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			 <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 
		  <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			     <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			  <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition active">
			   <img src="assets/images/wait_money.png">待付款
			
			</div>
		 </div>
		 
		  <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			    <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			 <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 
		  <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			     <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			 <span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		  <div class="money_content">
		    <p class="money_title">01200312<em class="money_close"><img src="assets/images/money_close.png"></em></p>
			<div class="money_head_pic clearfix">
			  <div class="head_pic_1eft">
              
             </div>	
              <div class="head_pic_right">
			    <div class="please">拖拽至 目标单 合并</div>
                <p>顾客：散户11</p>
				 <p>性别：男</p>
             </div>	
            <div class="refrush"><img src="assets/images/freshen.png"></div>			 
			</div>
			<div class="consume">
			<span class="copy_text"> </span>
			<p>消费项目：<em class="overflow_">店长洗剪吹店长洗剪吹长洗剪吹吹长洗剪吹</em></p>
			  <p>开单人员：1200 陈水微</p>
			  <p>开单时间： 11-22  22:13:16</p>
			</div>
		    <div class="confition">
			   <img src="assets/images/condition.png">进行中
			
			</div>
		 </div>
		 
		 
	
	</div>
	
	
</div>

       
		
    
	


    <!--<button class="btn" data-target="#jietu" data-toggle="modal">截图</button>-->
    <!--RIGHT PANEL结束 -->

    <div class="clearfix"></div>

    <div id="star"></div>
   <!-- <div class="left-show-btn">
        <span class="iconfont icon-quanbu110"></span>
    </div>-->
    <a href="" class="showmenu"></a>

    <i class="iconfont icon-fuzhi"></i>


    <!--返回顶部-->
<div id="return-top" class="return-top">
  <span class="iconfont icon-huidaodingbu"></span>
</div>

<!--轮播-->
<script language="javascript" type="text/javascript">
   jQuery(function(){
     var count=jQuery('.money_card_content li').size();
     var now=0;
	 //向右走
      jQuery('.RightBotton').click(function(){
         if(now<=count-4){
		    now+=1;
	        jQuery('.money_card_content li').stop(true,true).animate({
		     left:-174*now
		   
		       }) 
		  }	
        		
	    });
		//向左走
	 jQuery('.LeftBotton').click(function(){
         if(now>=1){
		    now-=1;
	        jQuery('.money_card_content li').stop(true,true).animate({
		     left:-174*now
		   
		       }) 
		  }	
        		
	    });
  })
   <!--确认付款弹出窗-->
   
      jQuery(function(){
		   jQuery('.money_content .active').click(function(){
		      jQuery('.zzc').show();
            });
		})	
   //原价卡上的图片的出现与消失
   jQuery(function(){
      jQuery('.money_card_content li').click(function(){
	     jQuery(this).find('.circle_pic').show();
		 jQuery(this).addClass('active')
	  
	  });
   
   })
   
   //点击下一步,关闭图标
   
   jQuery(function(){
     jQuery('.money_close_').click(function(){
	    jQuery('.zzc').hide();
      });
     
     jQuery('.money_next').click(function(){
	    jQuery('.zzc').hide();
		jQuery('.zzc1').show();
	    
     });
	 
	
     
   })
   
   //点击改价
   jQuery(function(){
      jQuery('.change_price_red').click(function(){
	     jQuery('.change_price_content').show();
       });
	   //点击改价页面的关闭
	   
	    jQuery('.money_close_1').click(function(){
	     jQuery('.zzc1').hide();
       });
   });
	
	//字数超出，以气泡的形式
	 jQuery(function(){
         jQuery('.overflow_').hover(function(){
	       var text=jQuery(this).text();
		   jQuery(this).parents('.consume').find('.copy_text').text(text);
      },function(){
	    jQuery(this).parents('.consume').find('.copy_text').text('');
	 })
   });
</script>

</div><!--mainwrapper-->
</body>
</html>

<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/online/jquery-plugin.min.js"></script>
<script type="text/javascript" src="assets/js/online/hchart.min.js"></script>

<script type="text/javascript" src="assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.twbsPagination.js"></script>
<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="assets/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="assets/js/star-rating.min.js"></script>
<script type="text/javascript" src="assets/js/lc_switch.min.js"></script>
<script type="text/javascript" src="assets/js/cropper.js"></script>
<script type="text/javascript" src="assets/js/plupload.full.min.js"></script>
<script type="text/javascript" src="assets/js/qiniu.min.js"></script>

<script type="text/javascript" src="assets/js/modernizr.js"></script>


<!--highchart-->
<script type="text/javascript" src="assets/js/highcharts.src.js"></script>
<script type="text/javascript" src="assets/js/exporting.src.js"></script>

<!--自定义-->
<script type="text/javascript" src="assets/js/custom.js"></script>
<script type="text/javascript" src="assets/js/zhifang.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->

