<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height = device-height" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="telephone=no" name="format-detection" />
    <title>智放</title>

    <!--模板样式-->
    <link rel="stylesheet" href="assets/css/style.default.css" type="text/css" />
    <!--jquery 时间选择器-->
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/jquery.bxslider.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/star-font.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/star-rating.min.css" type="text/css" />

    <!--字体样式-->
    <link rel="stylesheet" href="assets/css/iconfont.css" type="text/css" />
    <!--字体样式-->
    <link rel="stylesheet" href="assets/css/cropper.min.css" type="text/css" />
    <!--ios switch-->
    <link rel="stylesheet" href="assets/css/lc_switch.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/project.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/common.css" type="text/css" />
	
    <!--favicon.ico-->
    <link href="assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="assets/css/zhifang.css" type="text/css" />
   <link rel="stylesheet" href="assets/css/style_.css" type="text/css" />
    <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="assets/js/data.js"></script>
    <script type="text/javascript" src="assets/js/project.js"></script>
  
   <script type="text/javascript" src="assets/js/slider_.js"></script>
    <script type="text/javascript" src="assets/js/base_.js"></script> 
	<style type="text/css">


.table tr td{border:none!important}

</style>
<script>
  jQuery(function(){
     jQuery('.add_pic li').click(function(){
	 
	    jQuery('.zzc').show()
	 
	 
	 })
  
})
  jQuery(function(){
     jQuery('.cancelinput').click(function(){
	 
	    jQuery('.zzc').hide();
	   jQuery('.photo-clip-rotateLayer').html('');
	 
	 })
  
})

</script>
</head>

<body>
   <div class="zzc">
                      
	      <div class="photo_cut">
		   <div id="clipArea"></div>
           <input type="file" id="file" style="position:absolute;width: 100px;height: 40px;left: 212px;bottom:8px;opacity:0;cursor:pointer;filter:alpha(opacity=0);">
		   <button id="clipBtn" style="position:absolute;width: 100px;height: 40px;left: 346px;bottom:8px;opacity:0;cursor:pointer;filter:alpha(opacity=0);">截取</button>
		<!--    <div id="view"></div>  -->
		  <div class="button_panel"> 
		    <button class="selectpic">选择图片</button>
		    <button class="sureinput">确定上传</button>
			<button class="cancelinput">取消</button>
		  </div>
		
         </div>
	
   
   </div>
<!--loading start-->
<div class="loading">
    <img src="assets/img/tb-loading.gif" alt="" style="width: 200px;margin-top: -100px;"/>
    <!--<div class="mop-css-8 cube-grid">
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
    </div>-->
</div>

<!--loading end-->

<div class="mainwrapper" id="mainwrapper" name="mainwrapper" style="display: none">

    <!--left-panel start-->
    <!-- LEFT PANEL 开始-->
<div class="leftpanel">

    <!--logo-->
    <div class="logo-wrap">
        <a href="index.html">
            <img src="assets/images/logo_by.png" alt=""/>
        </a>
    </div>

    <div class="leftmenu">
       
        <ul class="left_nav">
		
		   <li class="active1">
		    <div class="nav_img"><img src="assets/images/left_1.png"></div>
			<span>业务中心</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_2.png"></div>
			<span>会员管理</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_3.png"></div>
			<span>营销中心</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_4.png"></div>
			<span>统计分析</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_5.png"></div>
			<span>服务设置</span>
		  </li>
		  <li>
		    <div class="nav_img"><img src="assets/images/left_6.png"></div>
			<span>员工管理</span>
		  </li>
		<a href="project-setting-1.html"> <li>
		    <div class="nav_img"><img src="assets/images/left_7.png"></div>
			<span>系统设置</span>
		  </li></a>
		</ul>
		
		<div class="left_nav_2">
		   <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		  <ul >
		     <li class="active"> 
			    <span><img src="assets/images/left0.png">项目设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left1.png">疗程设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left2.png">商品设置</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left3.png">商品库存</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left4.png">进货管理</span>
			 </li>
			 <li> 
			    <span><img src="assets/images/left5.png">出货管理</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_70.png">商品品牌</span>
			 </li>
			  <li> 
			    <span><img src="assets/images/left_71.png">供应商管理</span>
			 </li>
		  
		</ul>
		
		</div>
        <!--营业报表-->
        
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="yingyehuizong">
                <a href="report-yingyehuizong.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaika.png" alt=""/>-->
                        <i class="iconfont icon-yingyehuizong1 left-icon"></i>
                    </div>
                    营业汇总
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li name="report-xianjinshouru">
                <a href="report-xianjinshouru.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaika.png" alt=""/>-->
                        <i class="iconfont icon-xianjin-SR left-icon"></i>
                    </div>
                    现金收入
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li name="report-card-income">
                <a href="report-card-income.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-kaxiangxiaoshou left-icon"></i>
                    </div>
                    卡项销售
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-laodongyeji">
                <a href="report-laodongyeji.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaizhijizhang.png" alt=""/>-->
                        <i class="iconfont icon-laodongyeji left-icon"></i>
                    </div>
                    劳动业绩
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-huakaxiaofei">
                <a href="report-huakaxiaofei.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-kajin-XF left-icon"></i>
                    </div>
                    划卡消费
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-taocan-sell">
                <a href="report-taocan-sell.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaizhijizhang.png" alt=""/>-->
                        <i class="iconfont icon-taocanxiaoshou1 left-icon"></i>
                    </div>
                    套餐销售
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-shops-sell">
                <a href="report-shops-sell.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaizhijizhang.png" alt=""/>-->
                        <i class="iconfont icon-shangpinxiaoshou1 left-icon"></i>
                    </div>
                    商品销售
                </a>
            </li>
        </ul>
        <!-- 经营分析 -->
       
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-client-analyze">
                <a href="report-client-analyze.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/lunzhipaiban.png" alt=""/>-->
                        <i class="iconfont icon-keqingfenxi1 left-icon"></i>
                    </div>
                    客情分析
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="appointment-analyze">
                <a href="appointment-analyze.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/lunzhipaiban.png" alt=""/>-->
                        <i class="iconfont icon-yuyuefenxi1 left-icon"></i>
                    </div>
                    预约分析
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-emploee-analyze">
                <a href="report-emploee-analyze.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yuangongfenxi left-icon"></i>
                    </div>
                    员工分析
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-emploee-analyze">
                <a href="report-business-status.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yingyefenxi left-icon"></i>
                    </div>
                    营业分析
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-yingxiao">
                <a href="report-yingxiao.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yingxiaofenxi1 left-icon"></i>
                    </div>
                    营销分析
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="report-payroll">
                <a href="report-payroll.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/kaika.png" alt=""/>-->
                        <i class="iconfont icon-gongzidan4 left-icon"></i>
                    </div>
                    工资单
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="report-porfile">
                <a href="report-profile.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-yuangong-FX left-icon"></i>
                    </div>
                    财务分析
                </a>
            </li>
        </ul>
        <!-- 服务设置模块 -->
      
		
        <!-- 员工设置模块 -->
      
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="gangwei-setting">
                <a href="gangwei-setting.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-zuzhijiagou left-icon"></i>
                    </div>
                    组织架构
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="post-data">
                <a href="post-data.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/lunzhipaiban.png" alt=""/>-->
                        <i class="iconfont icon-yuangong-ZL left-icon"></i>
                    </div>
                    员工资料
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="award-punishment">
                <a href="award-punishment.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-zhidu-KH left-icon"></i>
                    </div>
                    管理制度
                </a>
            </li>
            <!--<img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="employee-leave">
                <a href="employee-leave.html">
                    <div class="img-wrap">
                        &lt;!&ndash;<img src="assets/images/shouyin.png" alt=""/>&ndash;&gt;
                        <i class="iconfont icon-qingjia-SP left-icon"></i>
                    </div>
                    请假审批
                </a>
            </li>-->

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="employee-shift">
                <a href="employee-shift.html">
                    <div class="img-wrap">
                        <!--<img src="assets/images/shouyin.png" alt=""/>-->
                        <i class="iconfont icon-yuangong-BC left-icon"></i>
                    </div>
                    排班设置
                </a>
            </li>

            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="set-target">
                <a href="set-target.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-mdmubiao left-icon"></i>
                    </div>
                    目标设置
                </a>
            </li>

            <!--<img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="jingsai">
                <a href="jingsai.html">
                    <div class="img-wrap">
                        &lt;!&ndash;<img src="assets/images/kaizhijizhang.png" alt=""/>&ndash;&gt;
                        <i class="iconfont icon-wodebisai left-icon"></i>
                    </div>
                    组织比赛
                </a>
            </li>-->
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="target-assessment">
                <a href="target-assessment.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-kaohechengji left-icon"></i>
                    </div>
                    目标考核
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img hide"/>
            <li name="employee-attendance">
                <a href="employee-attendance.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-kaiqin left-icon"></i>
                    </div>
                    考勤记录
                </a>
            </li>
        </ul>
        <!--系统设置-->
     
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="jueseguanli">
                <a href="jueseguanli.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-zuzhijiagou left-icon"></i>
                    </div>
                    角色管理
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="os-usage">
                <a href="os-usage.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    系统使用状况
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="zhanghuxinxi">
                <a href="zhanghuxinxi.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    账户信息
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="wodefendian">
                <a href="member-xuzhi.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    会员须知
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="wodefendian">
                <a href="wodefendian.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    我的分店
                </a>
            </li>
            <img src="assets/images/left-active.png" alt="" class="left-active-img"/>
            <li class="active" name="share-shezhi">
                <a href="share-shezhi.html">
                    <div class="img-wrap">
                        <i class="iconfont icon-iconfontxianshi4 left-icon"></i>
                    </div>
                    分享者设置
                </a>
            </li>
        </ul>
    </div><!--leftmenu-->
</div><!--mainleft-->

<!--LEFT PANEL结束 -->

    <!--left-panel end-->

    <!--RIGHT PANEL开始 -->
    <div class="rightpanel" style="margin-left: 200px;position:relative;background:white">

  <div class="headerpanel">
    <div class="headerlist">
        <div class="header_">
		  <div class="header_content">
		   <input type="text" class="input_" value="搜索">
		   <img src="assets/images/seach.png">
		   <span class="header_img"><img src="assets/images/logo_.png"></span>
		   <select>
		      <option>
			     111
			  </option>
		   <option>
			  111
			  </option>
		   
		   </select>
		   </div>
		</div>
		
       
    </div>
    <div class="xuanfu hide">
            <span class="yuan">
               <img src="../../assets/images/kefu.png" alt="" class="kefu-icon">

                <!--  <span class="xiaoxi">1</span>-->
            </span>
        <div class="xuanfu-main">
            <div class="fl">
                <div  class="kefu-status"><span>在线客服</span></div>
                <ul class="kefu-people">
                    <li style="height: 40px;line-height: 40px;color: #b2b2b2">客服列表</li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li class="current"><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont shanchu">&#xe625;</span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>
                    <li><span class="iconfont icon-xuanzhong"></span><img src="../../assets/images/dd-img.png" alt=""><span class="text-txt">客服0123</span></li>

                </ul>
            </div>
            <div class="fr">
                <div class="xf-top">
                    <span class="iconfont icon-xx fr"></span>
                </div>
                <div class="kefu">
                    <ul class="bubble-main">

                        <li class="media clearfix">
                            <div class="media-left">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>
                            </div>
                        </li>
                        <li class="media clearfix media1">
                            <div class="media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>
                            </div>

                        </li>
                        <li class="media clearfix">
                            <div class="media-left">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>

                            </div>
                        </li>
                        <li class="media clearfix media1">
                            <div class="media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="../../assets/images/dd-img.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-text media-arr">eros non enim commodo hendrerit.</p>
                            </div>

                        </li>

                    </ul>
                    <div class="bq-icon">
                        <span class="iconfont icon-xiaolian"></span>
                        <span class="iconfont icon-jietu"></span>
                        <span class="iconfont icon-scissors"></span>
                    </div>
                    <div class="search-sent">
                        <div>
                            <textarea type="text" class="sent-txt"></textarea>
                            <span class="send">发送</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div><!--headerpanel-->
<div class='content_right' >
    <div class="right_head clearfix">
	   <ul class="right_ul">

	      <li class="active">
		    <div> <img src="assets/images/tab_1.png"></div>
			<span>新增项目</span>
		  </li>
		  <li>
		    <div> <img src="assets/images/tab_2.png"></div>
			<span>价格</span>
		  </li>
		  <li>
		    <div> <img src="assets/images/tab_3.png"></div>
			<span>会员种类</span>
		  </li>
		  <li>
		    <div> <img src="assets/images/tab_4.png"></div>
			<span>职位</span>
		  </li>  
	   </ul>
	   
	    <div class="right_button">
		   <button class="save">
		   
		     保存
		   </button>
		   <button class="cancle">
		   
		      取消
		   </button>
		
		</div>
	   
	
	</div>

	 <div class="tab_content">
	 <!--新增项目-->
         <div class="tab_content_div clearfix">

		    <div class="tab_content_div_left">
			   <div>
			      项目所属部门：
				  <select style="    box-shadow: 0 0 3px #ccc; ">
				    <option>1.美发部</option>
				    <option>2.美发部</option>
				    <option>3.美发部</option>
				  
                  </select>
			   
			   </div>
			   <div>
			      项目类别：<input type="text" style="    box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			   <div>
			      项目名称：<input type="text" style="    box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			   <div>
			      项目编号：<input type="text" style="    box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			    <div style="position:relative;top:-30px">项目描述：<textarea class="textarea" style="position:relative;top:40px!important;left:60px!important;box-shadow: 0 0 3px #ccc;border-radius:5px!important"></textarea></div>

			  
			</div>
			
			<div class="tab_content_div_right" style="margin-left:160px">
			添加图片：
              <ul class="add_pic clearfix">
			    <li><img src="assets/images/set_img.png"></li>
			    <li><img src="assets/images/set_img.png"></li>
			    <li><img src="assets/images/set_img.png"></li>
			     <li><img src="assets/images/set_img.png"></li>
			     <li><img src="assets/images/set_img.png"></li>
				  <li><img src="assets/images/set_img.png"></li>
			  </ul>
			   

	  
			</div>
		     
		 </div>
		 
		<!--价格--> 
		 <div class="tab_content_div clearfix">

		    <div class="tab_content_div_left">
			   <div>
			     <span class="shopp"> 门店价格：</span><input type="text" style="box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			   <div>
			     <span class="shopp">  成本金额：</span><input type="text"  style="    box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			   <div>
			       <span class="shopp"> 预约优惠金额：</span><input type="text" style="position:relative;left:34px; box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			   <div>
			      <span class="shopp">  最大抵扣礼金：</span><input type="text" style="position:relative;left:34px; box-shadow: 0 0 3px #ccc; ">
			   
			   </div>
			
			</div>
			
			
		     <div class="tab_content_div_right">
			 <div class="choose"><span class="width_"> 是否抵扣礼金：</span> <input type="radio" name="yes" class="yes" style="margin-left:20px">是  <input type="radio" name="yes"  class="yes" style="margin-left:20px">否   </div>
			 <div class="choose"><span class="width_">接受预约：</span> <input type="radio" name="yes1"  class="yes" style="margin-left:20px">是  <input type="radio" name="yes1"  class="yes" style="margin-left:20px">否  </div>
			</div>
		 </div>
		 
		 
		 	<!--会员种类--> 
		 <div class="tab_content_div clearfix">
             <table class="table_" style="position:relative;left:160px">
			   <tr>
			     <td>会员5折卡</td>
				 <td>价格</td>
				 <td>会员门店价</td>
				 <td>成本</td>
				 <td>成本</td>
			   </tr>
			 
			 
			 </table>
		      <div class="tab_content_div_left cash" >
			   <div>
			      <span class="price_" >会员种类：</span>
				  <select class="select_" style="  box-shadow: 0 0 2px #ccc;left:26px">
				    <option>8折卡</option>
				    <option>9折卡</option>
				    <option>3折卡</option>
				  
                  </select>
			   
			   </div>
			   <div>
			      <span class="price_" >门店价格：</span><input type="text" class="shopprice" style="left:28px!important;box-shadow: 0 0 2px #ccc;">
			   
			   </div>
			   <div>
			     <span class="price_"> 会员门店价格：</span><input type="text" class="vip" style="  box-shadow: 0 0 2px #ccc;left:28px">
			   
			   </div>
			   <div>
			      <span class="price_">会员成本金额：</span><input type="text" class="vipcoin" style="  box-shadow: 0 0 2px #ccc;left:28px">
			   
			   </div>
			    
			  
			  <button class="save_">保存</button>
			</div>
			 <div class="write_3" style="position:relative;left:160px"><span class="add" style="border:none">+</span>编辑</div>
			<div class="tab_content_div_right">
			
			
			</div>
		     
		 </div>
		 
		 
		 	<!--职位--> 
		 <div class="tab_content_div clearfix">
           <div class="table_step">
		        <table class="table_s">
				   <tr>
				      <td style="border-right:1px solid #dbdce2!important;box-shadow:0 0 10px #ccc;" class="color_" >步骤顺序</td>
					  <td class="color_">轮牌名称</td>
				      <td class="color_">步骤名称</td>
					  <td class="color_">业绩计算方式</td>
					  <td class="color_">员工业绩</td>
					  <td class="color_">是否预约</td>
					  <td class="color_">职位名称</td>
					  <td class="color_">提成方式</td>
				      <td class="color_">指定提成</td>
					  <td class="color_">非指定提成</td>
					  <td class="color_">预约奖励</td>
					 
				   </tr>
				   
				   
				
				</table>
		       
		   </div>  
		   
		   <div class="step_1" style="margin-left:20px;">
		   <table style="    border: 1px solid #dbdce2;
    box-shadow: 0 0 10px #ccc;width:1030px">
		    <tr>
				      <td style="border-right:1px solid #dbdce2!important;color:#afb0b6;border-bottom:1px solid #dbdce2!important;">步骤顺序</td>
					  <td style="color:#afb0b6;">
					    轮牌名称 
					  </td>
				      
					  <td style="color:#afb0b6;">
					     步骤名称
					  </td>
					  <td style="color:#afb0b6;">业绩计算方式</td>
					  <td style="color:#afb0b6;">
					     员工业绩
					  
					  </td>
					  <td style="color:#afb0b6;">
					     是否可预约
					  
					  </td>
				   </tr>
		     <tr>
				      <td class="first" style="border-right:1px solid #dbdce2!important;color:#afb0b6">第一步</td>
					  <td td style="color:#afb0b6">
					     <select class="cut_step">
					       <option>洗剪吹设计</option>
						   <option>洗护牌</option>
						   <option>烫染设计师</option>
						  </select> 
					  </td>
				      <td td style="color:#afb0b6"><input type="text" class="cut_step_1"></td>
					  <td td style="color:#afb0b6">
					     <select  class="cut_step_2">
					       <option>固定</option>
						   <option>比例</option>
						   
						  </select>
					  
					  </td>
					  <td td style="color:#afb0b6"><input type="text"  class="cut_step_3"></td>
					  <td td style="color:#afb0b6">
					     <div class="cut_step_4" class="radio">
						  <input id="rType" type="radio" value="1" onclick="chkRadio(this)" style="height:auto!important"/>
						 
						 </div>
					  
					  </td>
					  
				   </tr>
				 </table>
		   
		   </div>
		   <div class="write_4"><span class="add_step" style="position:relative;left:-10px" >+</span>添加轮牌</div>
		   
		   <button class="button_1">保存</button>
		  
		 </div>
		 
     </div>
</div>
 
 

<script>
    jQuery(function() {
        var bool=true;
        jQuery(".xuanfu .yuan").on("click",function() {
            if(bool==true) {

                jQuery(".xuanfu-main").fadeOut(100)
                jQuery(".xuanfu").animate({"right":"0px"},100)
                bool=false;
            }
            else {
                jQuery(".xuanfu-main").fadeIn(100)
                jQuery(".xuanfu").animate({"right":"0px"},100)
                bool=true;
            }
        })

        jQuery(window).scroll(function(event){
            var xf=jQuery(window).scrollTop()

            jQuery(".xuanfu").css({'top':xf})
            jQuery(".xuanfu").css({'margin-top':78})


        })


        jQuery(".xf-top .icon-xx").on("click",function() {
            jQuery(".xuanfu-main").fadeOut()

        })

    })



</script>

 
   
       
            
         
                <div class="project-category">
                   
                    <ul class="project-sublist hide">
                        <li class="project-sublist-title">
                                洗剪吹系列
                                <span class="fr">
                                    <i class="iconfa-plus project-icon"></i>
                                    <i class="iconfa-pencil project-icon"></i>
                                    <i class="iconfa-trash project-icon"></i>
                                </span>
                            <div class="clearfix"></div>
                        </li>
                        <li class="project-sublist-content nopadding">
                            <div class="left-li">
                                单剪
                            </div>
                            <div class="right-li">
                                <span class="fr">
                                    <i class="iconfa-pencil project-icon"></i>
                                    <i class="iconfa-trash project-icon"></i>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="project-sublist-content nopadding">
                            <div class="left-li">
                                洗剪吹
                            </div>
                          <div class="right-li">
                            <span class="fr">
                                <i class="iconfa-pencil project-icon"></i>
                                <i class="iconfa-trash project-icon"></i>
                            </span>
                          </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="project-sublist-content nopadding">
                            <div class="left-li">
                                泰式洗发
                            </div>
                            <div class="right-li">
                                <span class="fr">
                                    <i class="iconfa-pencil project-icon"></i>
                                    <i class="iconfa-trash project-icon"></i>
                                </span>
                          </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <ul class="project-sublist hide ">
                        <li class="project-sublist-title">烫染系列
                            <span class="fr">
                                <i class="iconfa-plus project-icon"></i>
                                <i class="iconfa-pencil project-icon"></i>
                                <i class="iconfa-trash project-icon"></i>
                            </span>
                        </li>
                        <li class="project-sublist-content">欧莱雅 烫发
                            <span class="fr">
                                <i class="iconfa-pencil project-icon"></i>
                                <i class="iconfa-trash project-icon"></i>
                            </span>
                        </li>
                        <li class="project-sublist-content">轩尼诗染发
                            <span class="fr">
                                <i class="iconfa-pencil project-icon"></i>
                                <i class="iconfa-trash project-icon"></i>
                            </span>
                        </li>
                        <li class="project-sublist-content">欧莱雅烫染
                            <span class="fr">
                                <i class="iconfa-pencil project-icon"></i>
                                <i class="iconfa-trash project-icon"></i>
                            </span>
                        </li>
                    </ul>
                </div>
              
            </div>
        </div>

	
 
</div>







           
        </div>
		
    </div>
	
</div>

<!--添加新项目模态框-->
<div class="modal hide" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content add-sub-project-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加新项目</h4>
                <span class="return hide cursor">
                    <span class="icon-chevron-left fl"></span>
                    <span class="fl ml10">返回</span>
                </span>
            </div>
            <div class="modal-body">
              

                <div class="alternative-img">
                    <div class="add-project-model-left">
                        <ul class="select-btn">
                            <li class="active"><a href="">沙宣</a></li>
                            <li class=""><a href="">非主流</a></li>
                            <li class=""><a href="">韩式潮流</a></li>
                            <li class=""><a href="">非主流</a></li>
                            <li class=""><a href="">韩式潮流</a></li>
                        </ul>
                    </div>


                    <div class="alternative-img-select">
                        <h4>沙宣</h4>
                        <ul class="alternative-img-content">
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                            <li><img src="assets/img/test.jpeg" alt=""/></li>
                        </ul>

                    </div><!--add-project-form-->
                </div>

            </div><!--modal-body-->
            <div class="modal-footer">
                <a class="btn modal-cancel" href="#">取消</a>
                <a class="btn btn-primary modal-confirm" href="#">保存</a>
            </div>
        </div>
    </div>
	
	
	

</div>

<script>
   /* jQuery(function(){
        /!*会员资料模态框左右居中*!/
        jQuery('#add-project-modal').on('show.bs.modal', function (e) {
            var left = (jQuery(window).width() - jQuery("#add-project-modal").width())/2 +300;
            jQuery("#add-project-modal").css("left", left);
        });
    });*/
</script>


<!--添加项目类别模态框-->
<div class="modal hide" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content add-category-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加项目类别</h4>
            </div>
            <div class="modal-body">
                <form action="" class="editprofileform" method="post">
                    <p>
                        <label>类别名称:</label>
                        <input type="text" name="minimum-money" class="input-medium" value="">
                    </p>
                </form>
            </div><!--modal-body-->
            <div class="modal-footer">
                <a class="btn cancel-btn modal-cancel" href="#">取消</a>
                <a class="btn btn-primary save-btn modal-confirm" href="#">保存</a>
            </div>
        </div>
    </div>
</div>


<script>
   /* jQuery(function(){
        /!*会员资料模态框左右居中*!/
        jQuery('#add-category-modal').on('show.bs.modal', function (e) {
            var left = (jQuery(window).width() - jQuery("#add-category-modal").width())/2 +300;
            jQuery("#add-category-modal").css("left", left);
        });
    });*/
</script>




<script>
    jQuery(function(){
        jQuery('#account-time').datetimepicker({
            yearOffset:0,
            lang:'ch',
            timepicker:true,
            format:'d/m/Y',
            formatDate:'Y/m/d',
            minDate:'-1970/01/02', // yesterday is minimum date
            maxDate:'+1970/01/02' // and tommorow is maximum date calendar
        });

        jQuery(".show-more").on("click",function(){
            var detailInfo = jQuery(".more-condition-table");
            if(detailInfo.is(':visible')){
                detailInfo.hide();
            }else{
                detailInfo.show();
            }
        });

        /*项目的展示与隐藏*/
        jQuery('.project-name').on("click", function(){
            var th = jQuery(this)
            var target = th.siblings();
            target.toggle();
        });

        /*去掉选中元素的顶部的线条*/
        var deleteLine = function(){
            var selectedElement = jQuery(".project-selected");
            var elementIndex = selectedElement.index() - 1;
            var parent  = selectedElement.parent(".project-sublist");
            parent.find("li:eq(" + elementIndex + ")").css("border-bottom", "0px");

        }
        deleteLine();

        jQuery('body').delegate('.lcs_check_assignType', 'lcs-off', function() {
            jQuery(this).siblings().css("background","#fbd04d").children().css("color","#123134");
        });

        jQuery(".project-list").delegate(".project-sublist-content","click",function(){
            jQuery(".project-selected").removeClass("project-selected");
            jQuery(this).addClass("project-selected");
            var formName = jQuery("form[name='projectform']");
            formName.find("input[name='projectName']").val(jQuery.trim(jQuery(this).text()));
            formName.find("textarea[name='projectDesc']").val(jQuery.trim(jQuery(this).text()));
            formName.find("input[name='projectPrice']").eq(0).val("58");
            formName.find("input[name='costPrice']").eq(0).val("38");
            formName.find("input[name='discountAmount']").eq(0).val("68");
            formName.find("input[name='discountAmount']").eq(1).val("78");
            formName.find("input[name='discountAmount']").eq(2).val("56");
            formName.find("input[name='discountAmount']").eq(3).val("73");
            formName.find("input[name='assignAmount']").eq(0).val("97");
            formName.find("input[name='assignAmount']").eq(1).val("98");
            formName.find("input[name='assignAmount']").eq(2).val("96");
            formName.find("input[name='assignAmount']").eq(3).val("95");
            formName.find("input[name='nonAssignAmount']").eq(0).val("2");
            formName.find("input[name='nonAssignAmount']").eq(1).val("3");
            formName.find("input[name='nonAssignAmount']").eq(2).val("21");
            formName.find("input[name='nonAssignAmount']").eq(3).val("32");
        });

        jQuery(".project-list").delegate(".iconfa-plus","click",function(){
            jQuery("form[name='projectform']")[0].reset();
        });
    });

    //阻止事件冒泡的通用函数
    function stopBubble(e){
        // 如果传入了事件对象，那么就是非ie浏览器
        if(e&&e.stopPropagation){
            //因此它支持W3C的stopPropagation()方法
            e.stopPropagation();
        }else{
            //否则我们使用ie的方法来取消事件冒泡
            window.event.cancelBubble = true;
        }
    }

    function addProjectClass(obj){
        stopBubble(obj);
        jQuery(obj).parent().after("<div><input type='text' id='projectClassName' style='width: 73%;'/>" +
                "<i class='iconfa-pencil project-icon' onclick='saveProjectCLass(this);'>" +
                "</i><i class='iconfa-trash project-icon' onclick='deleteProjectClass(this);'></i></div>");
    }

    function deleteProjectClass(obj){
        jQuery(obj).parent().remove();
    }

    function deleteClass(obj){
        jQuery(obj).parent().parent().remove();
    }

    function saveProjectCLass(obj){
        var name = jQuery("#projectClassName").val();
        jQuery(obj).parent().parent().append("<ul class='project-sublist'>"+
                "<li class='project-sublist-title'>"+ name +
                "<span class='fr'>"+
                "<i class='iconfa-plus project-icon'></i> <i class='iconfa-pencil project-icon'></i>"+
                "<i class='iconfa-trash project-icon' onclick='deleteClass(this);'></i>"+
                "</span></li></ul>");
        jQuery(obj).parent().remove();
    }

    //图片预览
    function previewImage(file) {
        var MAXWIDTH  = 260;
        var MAXHEIGHT = 180;

        if (file.files && file.files[0]){
            var reader = new FileReader();
            reader.onload = function(evt){
                jQuery("#picNone").attr("src",evt.target.result);
            }
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id="imghead" style="width: 100px;height: 100px;">';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
        }
    }


</script>

</div>
    <!--<button class="btn" data-target="#jietu" data-toggle="modal">截图</button>-->
    <!--RIGHT PANEL结束 -->

    <div class="clearfix"></div>

    <div id="star"></div>
   <!-- <div class="left-show-btn">
        <span class="iconfont icon-quanbu110"></span>
    </div>-->
    <a href="" class="showmenu"></a>

    <i class="iconfont icon-fuzhi"></i>

    <!--确认框-->
    <!--提示-->




    <!--提示框-->
    <div class="alertWrap hide">
    <div class="toast">
        <img src="assets/images/jiazai.gif" alt=""/>
    </div>
</div>


    <!--截图-->
    <!--添加新品牌模态框-->
<div class="modal hide" id="jietu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content jietu ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">截图</h4>
            </div>
            <div class="modal-body nopadding">
                <div id="tabs" style="border-bottom:1px solid #fff">
                    <ul>
                        <li><a href="#tabs-1">截图</a></li>
                        <li><a href="#tabs-2">图库</a></li>
                    </ul>
                    <!-- 截图-->
                    <div id="tabs-1" class="nopadding">
                        <div class="crop-container">
                            <img src="assets/images/1.jpg" id="cropbox" />
                        </div>

                       <div class="jietu-control">
                 <input type="file" class="inputfile" accept="image/*">
                <div class="btn dblock">选择文件</div>
				<div class="btn dblock" id="selectImagesFromPictures" onclick="selectImagesFromPictures(this)">选择图库</div>
                <div class="btn dblock mt5 save">保存</div>
                <div class="btn dblock mt5 zoomin">放大</div>
                <div class="btn dblock mt5 zoomout">缩小</div>
              </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- 截图 -->

                    <!-- 图库 -->
                    <div id="tabs-2" class="nopadding">
                        <ul class="tuku-list">
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li><li class="tuku-item">
                            <img src="assets/images/shop-img.png" alt="图库图片"/>
                        </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>
                            <li class="tuku-item">
                                <img src="assets/images/shop-img.png" alt="图库图片"/>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- 图库结束 -->
                </div>
            </div><!--modal body-->
        </div>
    </div>
</div>

<script>
    jQuery(function () {
        /*/!*模态框居中*!/
        jQuery('#jietu').on('show.bs.modal', function (e) {
            var left = (jQuery(window).width() - jQuery("#jietu").width())/2 +300;
            jQuery("#jietu").css("left", left);
        });*/

      /*启用截图*/
      var $inputImage = jQuery('.inputfile');
      var URL = window.URL || window.webkitURL;
      var blobURL;
      var $image = jQuery('.crop-container > img');
      var options = {
        aspectRatio: 1 / 1,
        autoCropArea:1,
        minContainerWidth: 1000,
        minContainerHeight: 580,
        minCanvasWidth:1000,
        minCanvasHeight:580,
        center: true,
        checkImageOrigin:true,
        width:580,
        height:580,
        strict: true,
        responsive:false,
        dragCrop: false,
        cropBoxMovable: false,
        cropBoxResizable: false
      };

      $image.cropper(options);

      if (URL) {
        $inputImage.change(function () {
          var files = this.files;
          var file;

          if (!$image.data('cropper')) {
            return;
          }

          if (files && files.length) {
            file = files[0];

            if (/^image\/\w+$/.test(file.type)) {
              blobURL = URL.createObjectURL(file);
              $image.one('built.cropper', function () {
                URL.revokeObjectURL(blobURL); // Revoke when load complete
              }).cropper('reset').cropper('replace', blobURL);
              $inputImage.val('');
            } else {
              $body.tooltip('Please choose an image file.', 'warning');
              alert("请选择一个文件");
            }
          }
        });
      } else {
        $inputImage.prop('disabled', true).parent().addClass('disabled');
      }

      cropBoxData = $image.cropper('getCropBoxData');
      canvasData = $image.cropper('getCanvasData');
      options.built = function () {
        $image.cropper('setCropBoxData', cropBoxData);
        $image.cropper('setCanvasData', canvasData);
      };

      var result  = $image.cropper('getCroppedCanvas',options);
       jQuery(".zoomin").on("click", function () {
         $image.cropper("zoom", 0.1);
        });

       jQuery(".zoomout").on("click", function () {
         $image.cropper("zoom", -0.1);
        })
    })
</script>


    <!--返回顶部-->
 


 
</div><!--mainwrapper-->
</body>
</html>
 <!--截取-->
	<script>window.jQuery || document.write('<script src="assets/js/jquery-2.1.1.min.js"><\/script>')</script>
	<script src="assets/js/iscroll-zoom.js"></script>
	<script src="assets/js/hammer.js"></script>
	<script src="assets/js/jquery.photoClip.js"></script>
	<script>
	//document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	jQuery('#clipArea').photoClip({
		width: 200,
		height: 200,
		file: "#file",
		view: "#view",
		ok: "#clipBtn",
		loadStart: function() {
			console.log("照片读取中");
		},
		loadComplete: function() {
			console.log("照片读取完成");
		},
		clipFinish: function(dataURL) {
			console.log(dataURL);
		}
	});
	</script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/online/jquery-plugin.min.js"></script>
<script type="text/javascript" src="assets/js/online/hchart.min.js"></script>

<script type="text/javascript" src="assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.twbsPagination.js"></script>
<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="assets/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="assets/js/star-rating.min.js"></script>
<script type="text/javascript" src="assets/js/lc_switch.min.js"></script>
<script type="text/javascript" src="assets/js/cropper.js"></script>
<script type="text/javascript" src="assets/js/plupload.full.min.js"></script>
<script type="text/javascript" src="assets/js/qiniu.min.js"></script>

<script type="text/javascript" src="assets/js/modernizr.js"></script>


<!--highchart-->
<script type="text/javascript" src="assets/js/highcharts.src.js"></script>
<script type="text/javascript" src="assets/js/exporting.src.js"></script>

<!--自定义-->
<script type="text/javascript" src="assets/js/custom.js"></script>
<script type="text/javascript" src="assets/js/zhifang.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->

