<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height = device-height" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="telephone=no" name="format-detection" />
    <title>我道</title>

    <!--模板样式-->
    <link rel="stylesheet" href="assets/css/style.default.css" type="text/css" />
    <!--CSS样式-->
    <link rel="stylesheet" href="assets/css/wodao.css" type="text/css" />
    <!--JQuery-->
    <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>

    <script src="assets/js/loginA.js"></script>
    <script src="assets/js/loginB.js"></script>
</head>

<body style="background-color:  #2a3244;">
    <div class="limit">
            <div class="pro_top">
                <div class="pro_logo"><img src="assets/img/backstage_ico/logo.png"></div>
                <div class="pro_sousuo">
                    <img src="assets/img/backstage_ico/sousuo.png">
                    <input type="text"  name="sousuo" value="搜索" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color: #999">
                </div>
                <div class="pro_hi">
                    <img src="assets/img/backstage_ico/portrait.png">
                    <div class="pro_nic">
                        <span>HI,小智淘美华南店&nbsp;﹀</span>
                    </div>
                </div>
            </div>


            <div class="pro_left bigone">
                <div class="pro_leftA titleone">
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one01.png">
                            <span>业务中心</span>
                            <span>_______</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one02.png">
                            <span>会员管理</span>
                            <span>_______</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one03.png">
                            <span>营销中心</span>
                            <span>_______</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one04.png">
                            <span>统计分析</span>
                            <span>_______</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one05.png">
                            <span>服务设置</span>
                            <span>_______</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one06.png">
                            <span>员工管理</span>
                            <span>_______</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Alei">
                            <img src="assets/img/backstage_ico/one07.png">
                            <span>系统设置</span>
                        </div>
                    </a>
                </div>

                <div class="con">
                    <div class="listone list1">
                        <ul>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo01.png">
                                <span>项目设置</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo02.png">
                                <span>疗程设置</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo03.png">
                                <span>商品设置</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo04.png">
                                <span>商品库存</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo05.png">
                                <span>进货管理</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo06.png">
                                <span>出货管理</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo07.png">
                                <span>商品品牌</span>
                            </li>
                            <li class="Blei">
                                <img src="assets/img/backstage_ico/fwtwo08.png">
                                <span>供应商管理</span>
                            </li>
                        </ul>
                    </div>
                    <div class="listone list2"></div>
                    <div class="listone list3"></div>
                    <div class="listone list4"></div>
                    <div class="listone list5"></div>
                    <div class="listone list6"></div>
                    <div class="listone list7"></div>
                </div>

            </div>
    </div>

</body>

</html>
