.item_list{margin-top:20px;height:310px}
.item_list select{width:104px;height:22px;padding-left:50px;border-radius:10px;font-size:14px;color:black;border:1px solid black}
.item_list button{border:none;border-radius:10px;color:white;background:#59688a;height:30px;text-align:center;line-height:30px;width:76px;margin:0 29px 0 95px}
.item_list input{height:20px;width:120px;padding-left:10px;border-radius:10px 0 0 10px;border:1px solid black;margin-left:4px}
.item_part{margin:20px 100px}
.item_list button:hover{background:#495673}

.item_part_content{margin-left:40px}
.item_part_content_left{width:283px;height:200px;border-radius:8px;overflow:overlay;float:left;border:1px solid black;margin-right:30px}
.item_part_content_right{float:left;border:1px solid black;border-radius:8px;width:700px;height:200px}

.hair_part{width:236px;height:38px;text-align:center;border:1px solid #59688a;border-left:3px solid #ff0000;line-height:38px;color: black;position:relative;
    font-size: 14px;margin:11px 0 0 4px}
.hair_part em{display:inline-block;width:47px;height:30px;border-left:2px solid #989da6;line-height:30px;position:relative;left:72px}
.item_part_content_left i,.item_part_content_right i{display:inline-block;position:relative;top:9px;left:-1px}
.demo_fade{    position: absolute;
    border-left: 1px solid #565656;
    border-right: 1px solid #565656;
    top: 38px;
    border-bottom: 1px solid #565656;
    border-top: 1px solid white;
    z-index: 2;
    top:33px;
    right: 1px;
	display:none
	}
	.item_part_content_left span,.item_part_content_right span{position:relative;display:inline-block}
	
	.demo_fade img{height:20px}
.demo_fade li:hover{background:#d8d6d6}	
.item_part_content_right span{margin-left:25px}
.demo_fade li{background:#ececec}