.content_right{padding:40px}

.payroll_2_head button{padding:5px 15px;border-radius:8px;color:white;text-align:center;border:none;background:#5b6080;margin-right:20px}
.payroll_2_head button:hover{
	background:#4f5471
}
.payroll_1_search{position:relative;left:200px}
.payroll_1_search input{width:130px;height:26px;border-radius:12px;padding-left:10px}
.payroll_1_search em{position:absolute;right:8px;top:1px}
.payroll_1{width:11px;height:9px;background:url('../images/payroll_1.png') no-repeat;display:inline-block;cursor:pointer}
.payroll_2_left{float:left;width:160px;height:510px;border:1px solid #ccc;padding:10px 0 0 20px;overflow-y:scroll;box-shadow:0 0 10px #dbdce2}
.payroll_2_content{margin-top:35px;}
.payroll_2_right{float:left;margin-left:22px;border-radius:14px;height:530px;width:785px}
.payroll_table td{height:38px;text-align:center;border:1px solid #dbdce2;vertical-align:middle;padding:0 10px}
.payroll_table{box-shadow:0 0 10px #dbdce2;width:785px}
.payroll_table_content{margin-top:20px;}
.payroll_table tr:nth-child(even){background:#f6f8fc}
.payroll_table tr:nth-child(1){background:#ebeff8;height:60px}

.payroll_6{display:inline-block;width:29px;height:6px;background:url('../images/payroll_6.png')}
.payroll_partment img{vertical-align:middle;margin:0 5px 0 0px}
.payroll_job span img{vertical-align:middle;margin-right:5px}
.payroll_job{margin-left:52px}
.position{margin-left:80px}
.position img{margin-right:5px;position:relative;top:4px}

