.content_right{padding:40px}
.payroll_list select{height:26px;width:90px;padding-left:12px;background:#59688a;color:white;border-radius:12px;margin-left:8px}
.payroll_table td{height:38px;text-align:center;border:1px solid #dbdce2;vertical-align:middle;padding:0 10px}
.payroll_table{box-shadow:0 0 10px #dbdce2;width:970px}
.payroll_table_content{margin-top:20px;}
.payroll_table tr:nth-child(even){background:#f6f8fc}
.payroll_table tr:nth-child(1){background:#ebeff8;height:60px}
.payroll_1_search{position:relative;left:20px}
.payroll_1_search input{width:130px;height:26px;border-radius:12px;padding-left:10px}
.payroll_1_search em{position:absolute;right:8px;top:1px}

