.content_right{padding:40px}

.payroll_1_search{position:relative;left:700px;}
.payroll_1_search input{width:200px;height:24px;border-radius:12px;padding-left:30px}
.payroll_1_search em{position:absolute;left:8px;top:1px}

.payroll_5_content{margin-top:45px}
.payroll_left{width:255px;float:left;height:450px;border:1px solid #ccc;border-radius:8px;padding:20px;box-shadow:0 0 10px #ccc}
.payroll_left p{text-align:center;margin-bottom:20px;font-size:14px;color:black}
.add_target{font-size:14px;color:black}
.payroll_5_target{height:26px;border-radius:8px;width:165px;padding-left:70px}
.section input{width:128px;height:26px;border-radius:8px;margin-left:70px}
.payroll_5_price li{float:left;width:120px;height:50px;text-align:center}
.payroll_5_price{margin-top:10px}
.payroll_5_price input{margin-right:8px}
.payroll_5_price span{display:inline-block;margin-right:30px}
.section_{margin-bottom:40px}
.payroll_5_save{    height: 34px;
    width: 150px;
    text-align: center;
    line-height: 34px;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background: #59688a;
    box-shadow: 0 4px 10px #ccc;
	margin-left:50px
    }
.payroll_5_save:hover{background:#445375}
.payroll_right{float:left;margin-left:40px}
.payroll_table td{height:38px;text-align:center;border:1px solid #dbdce2;vertical-align:middle;padding:0 10px}
.payroll_table{box-shadow:0 0 10px #dbdce2;width:660px}
.payroll_table_content{margin-top:20px;}
.payroll_table tr:nth-child(even){background:#f6f8fc}
.payroll_table tr:nth-child(1){background:#ebeff8;height:60px}