.content_right{padding:40px}

.right_head button{height:28px;width:115px;text-align:center;line-height:28px;color:#e0e3e9;background:#59688a;border-radius:12px;margin-right:24px;border:none}
.right_head button:hover{background:#485778}
.right_head input{width:148px;padding-left:14px;height:24px;border-radius:12px;margin:0 2px 0 30px}
.datatime{position:relative}
.datatime em{position:absolute;right:10px;top:2px}

.payroll_1_search{position:relative;left:0;}
.payroll_1_search input{width:140px;height:24px;border-radius:12px;padding-left:10px}
.payroll_1_search em{position:absolute;right:8px;top:1px}
.payroll_3_content p span{display:inline-block;color:black;margin-right:20px;margin:28px 20px 12px 0}

.payroll_table td{height:38px;text-align:center;border:1px solid #dbdce2;vertical-align:middle;padding:0 10px}
.payroll_table{box-shadow:0 0 10px #dbdce2;width:1000px}
.payroll_table_content{margin-top:20px;}
.payroll_table tr:nth-child(even){background:#f6f8fc}
.payroll_table tr:nth-child(1){background:#ebeff8;height:60px}

.payroll_table input{width:75px;height:20px}