.content_right{padding:40px 56px}

.add_new_button button{
	width:130px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:white;
	border:none;
	border-radius:15px;
	font-size:16px;
	background:#59688a;
	margin-left:33px
}
.add_new_table table{
	width:961px;
    box-shadow: 0 0 10px #b9bdc6;
	
}
.add_new_table table td{
	width: 72px;
    height: 38px;
    text-align: center;
    border: 1px solid #b9bdc6;
    vertical-align: middle;
}
.add_new_table{margin:40px 33px}
.zzc{position: fixed; top: 0px;  height:1090px;left: 0px; width: 100%; z-index: 10000; background:rgba(102, 108, 121, 0.8);}
.new_vip_alert{height:540px;width:760px;margin:50px auto;border-radius:8px;overflow:hidden;background:white}
.new_vip_alert>p{height:70px;line-height:70px;text-align:center;color:white;font-size:18px;background:#333c4e}
.new_vip_alert_content{
	height:474px;
	padding:20px 35px
}
.new_vip_alert_content li{margin-right:54px;height:32px;float:left;position:relative;margin-bottom:40px}
.new_vip_alert_content li> input{width:110px;height:20px;border-radius:15px;margin-left:20px;padding-right:20px}
.new_vip_alert_content li span{display:inline-block;width:130px;height:26px;line-height:26px;color:black;border-radius:15px;background:#d7dcea;border:1px solid #a0a1a3;text-align:center}
.new_vip_problem{display:inline-block;height:22px;width:22px;border-radius:11px;background:#eb2218;color:white;font-size:20px;position:absolute;right:-26px;top:4px;text-align:center}
.new_vip_alert_content li em input{width:30px;height:20px;border-radius:15px;margin-left:4px;padding-right:20px}
.new_vip_alert_content li em{display:inline-block;margin-left:20px}
.new_vip_alert_content li  i{position:absolute;right:10px;top:5px}
.new_vip_alert_content li select{width:125px;height:20px;border-radius:15px;margin-left:20px;}
.new_vip_problem{cursor:pointer}
.new_vip_alert_content li  textarea{width:460px;height:66px;border-radius:10px;margin-left:20px;padding:5px}
.new_vip_alert_button button{width:133px;height:26px;text-align:center;line-height:26px;border-radius:10px;border:none;color:white;background:#59688a;margin-right:55px}
.new_vip_alert_button button:hover{background:#465169}
.new_vip_alert_button{margin:35px  0 0  180px }
.bubble_{position:absolute;background:#ccc;padding:0 10px ;border-radius:4px;left:-65px;width:120px;overflow-wrap: break-word;font-size:10px;bottom: 35px;z-index:3;display:none;color:#333c4e}
.triangle-down{ display:none;width: 0;
    height: 0;  border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #ccc;top:-20px;left:0px;position:relative;
}
