<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.AccountRoleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.AccountRoleInfo" >
    <id column="account_role_id" property="accountRoleId" jdbcType="INTEGER" />
    <result column="account_role_name" property="accountRoleName" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="frist_menu" property="fristMenu" jdbcType="LONGVARCHAR" />
    <result column="second_menu" property="secondMenu" jdbcType="LONGVARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_account" property="storeAccount" jdbcType="CHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    account_role_id, account_role_name, role_id, frist_menu, second_menu , store_id, store_account, is_deleted
  </sql>

 <select id="selectAccountMenuByRoleId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" /> 
    from account_role_info
    where 1=1
     <if test="roleId != null" >
       and  account_role_id = #{roleId}
     </if>
       <if test="roleIds != null" >
       and  role_id = #{roleIds}
     </if>
    and  store_account = #{storeAccount}  and  is_deleted = 0  and  account_role_name     &lt;&gt; '企业' 
  </select>
  
      <select id="selectByStoreAccout" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select * from account_role_info where  store_account = #{storeAccount} and  is_deleted = 0 and
	 exists( select
				 u.role_id
	   			 from user_account u
	   			 where u.status = 0    and u.store_account = #{storeAccount}     and u.store_id = #{storeId}  and u.role_id =role_id  GROUP BY  role_id)  
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_role_info
    where account_role_id = #{accountRoleId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByAccountRoleName" resultMap="BaseResultMap" parameterType="java.util.Map"  >
    select 
    <include refid="Base_Column_List" />
    from account_role_info
    where account_role_name = #{accountRoleName}   and  store_account = #{storeAccount}  and  is_deleted = 0
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_role_info
    where account_role_id = #{accountRoleId,jdbcType=INTEGER}
  </delete>
  
   <insert id="insertSelective" parameterType="com.zefun.web.entity.AccountRoleInfo" >
    insert into account_role_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountRoleId != null" >
        account_role_id,
      </if>
      <if test="accountRoleName != null" >
        account_role_name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeAccount != null" >
        store_account,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="fristMenu != null" >
        frist_menu,
      </if>
      <if test="secondMenu != null" >
        second_menu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountRoleId != null" >
        #{accountRoleId,jdbcType=INTEGER},
      </if>
      <if test="accountRoleName != null" >
        #{accountRoleName,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeAccount != null" >
        #{storeAccount,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="fristMenu != null" >
        #{fristMenu,jdbcType=LONGVARCHAR},
      </if>
      <if test="secondMenu != null" >
        #{secondMenu,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.AccountRoleInfo" >
    update account_role_info
    <set >
      <if test="accountRoleName != null" >
        account_role_name = #{accountRoleName,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeAccount != null" >
        store_account = #{storeAccount,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="fristMenu != null" >
        frist_menu = #{fristMenu,jdbcType=LONGVARCHAR},
      </if>
      <if test="secondMenu != null" >
        second_menu = #{secondMenu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where account_role_id = #{accountRoleId,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.AccountRoleInfo" >
    update account_role_info
    set account_role_name = #{accountRoleName,jdbcType=CHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      store_account = #{storeAccount,jdbcType=CHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where account_role_id = #{accountRoleId,jdbcType=INTEGER}
  </update>
</mapper>