<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.ActivityAccountMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.ActivityAccount" >
    <id column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="activity_account" property="activityAccount" jdbcType="CHAR" />
    <result column="activity_Paper" property="activityPaper" jdbcType="CHAR" />
    <result column="starts_time" property="startsTime" jdbcType="CHAR" />
    <result column="end_time" property="endTime" jdbcType="CHAR" />
    <result column="Activity_note" property="activityNote" jdbcType="CHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_account" property="storeAccount" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    activity_id, activity_account, activity_Paper, starts_time, end_time, Activity_note, 
    store_id, store_account, create_time, update_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_account
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_account
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.ActivityAccount" >
    insert into activity_account (activity_id, activity_account, activity_Paper, 
      starts_time, end_time, Activity_note, 
      store_id, store_account, create_time, 
      update_time, is_deleted)
    values (#{activityId,jdbcType=INTEGER}, #{activityAccount,jdbcType=CHAR}, #{activityPaper,jdbcType=CHAR}, 
      #{startsTime,jdbcType=CHAR}, #{endTime,jdbcType=CHAR}, #{activityNote,jdbcType=CHAR}, 
      #{storeId,jdbcType=INTEGER}, #{storeAccount,jdbcType=CHAR}, #{createTime,jdbcType=CHAR}, 
      #{updateTime,jdbcType=CHAR}, #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.ActivityAccount" >
    insert into activity_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityAccount != null" >
        activity_account,
      </if>
      <if test="activityPaper != null" >
        activity_Paper,
      </if>
      <if test="startsTime != null" >
        starts_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="activityNote != null" >
        Activity_note,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeAccount != null" >
        store_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activityAccount != null" >
        #{activityAccount,jdbcType=CHAR},
      </if>
      <if test="activityPaper != null" >
        #{activityPaper,jdbcType=CHAR},
      </if>
      <if test="startsTime != null" >
        #{startsTime,jdbcType=CHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=CHAR},
      </if>
      <if test="activityNote != null" >
        #{activityNote,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeAccount != null" >
        #{storeAccount,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.ActivityAccount" >
    update activity_account
    <set >
      <if test="activityAccount != null" >
        activity_account = #{activityAccount,jdbcType=CHAR},
      </if>
      <if test="activityPaper != null" >
        activity_Paper = #{activityPaper,jdbcType=CHAR},
      </if>
      <if test="startsTime != null" >
        starts_time = #{startsTime,jdbcType=CHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=CHAR},
      </if>
      <if test="activityNote != null" >
        Activity_note = #{activityNote,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeAccount != null" >
        store_account = #{storeAccount,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.ActivityAccount" >
    update activity_account
    set activity_account = #{activityAccount,jdbcType=CHAR},
      activity_Paper = #{activityPaper,jdbcType=CHAR},
      starts_time = #{startsTime,jdbcType=CHAR},
      end_time = #{endTime,jdbcType=CHAR},
      Activity_note = #{activityNote,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_account = #{storeAccount,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=CHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByActivity"  resultMap="BaseResultMap"  parameterType="com.zefun.web.entity.Page">
    select 
    <include refid="Base_Column_List" />
        from activity_account
    where store_account = #{params.storeAccount,jdbcType=INTEGER} and  is_deleted=0
  </select>
</mapper>