<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.MemberRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.MemberRecommend" >
    <id column="member_id" property="memberId" jdbcType="INTEGER" />
    <id column="recommend_id" property="recommendId" jdbcType="INTEGER" />
    <result column="recommend_time" property="recommendTime" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    member_id, recommend_id, recommend_time
  </sql>
  
  <select id="selectMemberIdByRecommendId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select member_id from member_recommend where recommend_id = #{recommendId,jdbcType=INTEGER}
  </select>
  
  <select id="selectRecommendIdByMemberId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select recommend_id from member_recommend where member_id = #{memberId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zefun.web.entity.MemberRecommend" >
    select 
    <include refid="Base_Column_List" />
    from member_recommend
    where member_id = #{memberId,jdbcType=INTEGER}
      and recommend_id = #{recommendId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.zefun.web.entity.MemberRecommend" >
    delete from member_recommend
    where member_id = #{memberId,jdbcType=INTEGER}
      and recommend_id = #{recommendId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.zefun.web.entity.MemberRecommend" >
    insert into member_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="recommendId != null" >
        recommend_id,
      </if>
      <if test="recommendTime != null" >
        recommend_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="recommendId != null" >
        #{recommendId,jdbcType=INTEGER},
      </if>
      <if test="recommendTime != null" >
        #{recommendTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.MemberRecommend" >
    update member_recommend
    <set >
      <if test="recommendTime != null" >
        recommend_time = #{recommendTime,jdbcType=CHAR},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=INTEGER}
      and recommend_id = #{recommendId,jdbcType=INTEGER}
  </update>
</mapper>