<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.MenuIdQuoteMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.MenuIdQuote" >
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="quote_id" property="quoteId" jdbcType="INTEGER" />
    <result column="menu_html" property="menuHtml" jdbcType="LONGVARCHAR" />
<!--     <collection property="menuIdQuotes"  column="menu_id" select="selectMemberSecounds"></collection> -->
  </resultMap>
  <resultMap id="BaseResultSecondsMap" type="com.zefun.web.entity.MenuIdQuote" >
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="quote_id" property="quoteId" jdbcType="INTEGER" />
    <result column="menu_html" property="menuHtml" jdbcType="LONGVARCHAR" />
  </resultMap>

 <select id="selectMemberFirts" resultMap="BaseResultMap" parameterType="java.util.Map">
 	select * from menu_id_quote where menu_type = 1 and menu_id in 
 	<foreach item="menuIds" collection="menuId" separator="," open="(" close=")" index="">  
      #{menuIds}  
    </foreach> 
    ORDER BY FIELD(menu_id,
  	<foreach item="menuIds" collection="menuId" separator="," open=" " close=")" index="">  
      #{menuIds}  
    </foreach> 
 </select>
 
 <select id="selectMemberSecounds" resultMap="BaseResultSecondsMap" parameterType="java.util.Map">
<!--  	select * from menu_id_quote where menu_type = 2 and quote_id = #{menu_id} -->
 	
 	 	select * from menu_id_quote where menu_type = 2 and menu_id in 
 	<foreach item="menuIds" collection="listSecond" separator="," open="(" close=")" index="">  
      #{menuIds}  
    </foreach> 
    ORDER BY FIELD(menu_id,
  	<foreach item="menuIds" collection="listSecond" separator="," open=" " close=")" index="">  
      #{menuIds}  
    </foreach> 
 </select>

 <select id="selectByMemuRoles" resultMap="BaseResultMap" parameterType="java.util.Map"  >
 	select 
 		menu_type,menu_id,quote_id,menu_html 
 		from menu_id_quote  
 		where
 	  menu_type = #{menuType}   and menu_id in 
 	  <foreach item="menuIds" collection="menuId" separator="," open="(" close=")" index="">  
      #{menuIds}  
    </foreach> 
       ORDER BY FIELD(menu_id,
  	<foreach item="menuIds" collection="menuId" separator="," open=" " close=")" index="">  
      #{menuIds}  
    </foreach> 
 </select>
 
  <select id="selectGroupByMemuRoles" resultMap="BaseResultMap" parameterType="java.util.Map"  >
 	select 
 		menu_type,menu_id,quote_id,menu_html 
 		from menu_id_quote  
 		where
 	  menu_type = #{menuType}   and menu_id in
 	   <foreach item="menuId" collection="menuId" separator="," open="(" close=")" index="">  
      #{menuId}  
    </foreach>  
 	    group by  quote_id
 </select>
 	
  <insert id="insert" parameterType="com.zefun.web.entity.MenuIdQuote" >
    insert into menu_id_quote (menu_type, menu_id, quote_id, 
      menu_html)
    values (#{menuType,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{quoteId,jdbcType=INTEGER}, 
      #{menuHtml,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.MenuIdQuote" >
    insert into menu_id_quote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="quoteId != null" >
        quote_id,
      </if>
      <if test="menuHtml != null" >
        menu_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="quoteId != null" >
        #{quoteId,jdbcType=INTEGER},
      </if>
      <if test="menuHtml != null" >
        #{menuHtml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>