<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.SettingRuleMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.SettingRule" >
    <id column="setting_rule_id" property="settingRuleId" jdbcType="INTEGER" />
    <result column="store_id_or_account" property="storeIdOrAccount" jdbcType="VARCHAR" />
    <result column="rule_type" property="ruleType" jdbcType="INTEGER" />
    <result column="rule_info" property="ruleInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    setting_rule_id, store_id_or_account, rule_type, rule_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from setting_rule
    where setting_rule_id = #{settingRuleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from setting_rule
    where setting_rule_id = #{settingRuleId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.SettingRule" >
    insert into setting_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="settingRuleId != null" >
        setting_rule_id,
      </if>
      <if test="storeIdOrAccount != null" >
        store_id_or_account,
      </if>
      <if test="ruleType != null" >
        rule_type,
      </if>
      <if test="ruleInfo != null" >
        rule_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="settingRuleId != null" >
        #{settingRuleId,jdbcType=INTEGER},
      </if>
      <if test="storeIdOrAccount != null" >
        #{storeIdOrAccount,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null" >
        #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="ruleInfo != null" >
        #{ruleInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.SettingRule" >
    update setting_rule
    <set >
      <if test="storeIdOrAccount != null" >
        store_id_or_account = #{storeIdOrAccount,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null" >
        rule_type = #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="ruleInfo != null" >
        rule_info = #{ruleInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where setting_rule_id = #{settingRuleId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByStoreIdOrAccount" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from setting_rule
    where store_id_or_account = #{storeIdOrAccount,jdbcType=VARCHAR} and rule_type = #{ruleType,jdbcType=INTEGER}
  </select>
</mapper>