<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.StoreManageRuleMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.StoreManageRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="process_type" property="processType" jdbcType="INTEGER" />
    <result column="process_money" property="processMoney" jdbcType="DECIMAL" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
    <result column="last_operator_time" property="lastOperatorTime" jdbcType="CHAR" />
  </resultMap>
  
    <resultMap id="BaseResultMapByName" type="com.zefun.web.entity.StoreManageRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="process_type" property="processType" jdbcType="INTEGER" />
    <result column="process_money" property="processMoney" jdbcType="DECIMAL" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
    <result column="last_operator_time" property="lastOperatorTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rule_id, store_id, rule_name, rule_desc, process_type, process_money, last_operator_id, 
    last_operator_time
  </sql>
  
   <select id="selectRuleListByStoreId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store_manage_rule
    where 
    store_id = #{storeId}
  </select>
  
     <select id="selectRuleListByAccountStoreId" resultMap="BaseResultMapByName" parameterType="java.util.Map" >
    select 
    r.*,(select store_name from store_info s where s.store_id=r.store_id) as storeName
    from store_manage_rule r 
    where  1=1
      <if test="storeId != null" >
      and r.store_id = #{storeId}
      </if>
      	<if test="storeIds != null and storeIds !=''">
	      and  r.store_id in
		 <foreach collection="storeIds" item="storeId" index="index" open="(" close=")" separator=",">
           #{storeId}
        </foreach>
	</if>
	   <if test="processType1 != null" >
      and r.process_type = #{processType1}
      </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store_manage_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store_manage_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.StoreManageRule" >
    insert into store_manage_rule (rule_id, store_id, rule_name, 
      rule_desc, process_type, process_money, 
      last_operator_id, last_operator_time)
    values (#{ruleId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{ruleName,jdbcType=VARCHAR}, 
      #{ruleDesc,jdbcType=VARCHAR}, #{processType,jdbcType=INTEGER}, #{processMoney,jdbcType=DECIMAL}, 
      #{lastOperatorId,jdbcType=INTEGER}, #{lastOperatorTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.StoreManageRule" useGeneratedKeys="true" keyProperty="ruleId">
    insert into store_manage_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="ruleDesc != null" >
        rule_desc,
      </if>
      <if test="processType != null" >
        process_type,
      </if>
      <if test="processMoney != null" >
        process_money,
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id,
      </if>
      <if test="lastOperatorTime != null" >
        last_operator_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="processType != null" >
        #{processType,jdbcType=INTEGER},
      </if>
      <if test="processMoney != null" >
        #{processMoney,jdbcType=DECIMAL},
      </if>
      <if test="lastOperatorId != null" >
        #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="lastOperatorTime != null" >
        #{lastOperatorTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <insert id="initStoreRuleByStoreId" parameterType="java.lang.Integer">
    insert into store_manage_rule
        (store_id, rule_type, rule_name, rule_desc, target_type, target_value, process_type, 
            process_money, last_operator_id, last_operator_time) 
        select #{storeId} store_id, rule_type, rule_name, rule_desc, target_type, target_value, process_type, 
            process_money, last_operator_id, last_operator_time 
        from store_manage_rule
            where store_id = 0
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.StoreManageRule" >
    update store_manage_rule
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="processType != null" >
        process_type = #{processType,jdbcType=INTEGER},
      </if>
      <if test="processMoney != null" >
        process_money = #{processMoney,jdbcType=DECIMAL},
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="lastOperatorTime != null" >
        last_operator_time = #{lastOperatorTime,jdbcType=CHAR},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.StoreManageRule" >
    update store_manage_rule
    set store_id = #{storeId,jdbcType=INTEGER},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      process_type = #{processType,jdbcType=INTEGER},
      process_money = #{processMoney,jdbcType=DECIMAL},
      last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      last_operator_time = #{lastOperatorTime,jdbcType=CHAR}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>