.zzc {
	font-size: 12px;
	color: black;
	position: fixed;
	top: 0px;
	height: 1090px;
	left: 0px;
	width: 100%;
	z-index: 10000;
	background: rgba(102, 108, 121, 0.8);
}

.order_item {
	width: 870px;
	height: 580px;
	background: white;
	border-radius: 12px;
	margin: 50px auto;
	overflow: hidden
}

.order_item>p {
	height: 60px;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
	background: #2b4874
}

.search_vip {
	height: 44px;
	margin-top: 12px;
	padding-left: 22px;
	background: #d8e0f2;
	line-height: 40px
}

.search_vip input {
	width: 200px;
	height: 20px;
	border-radius: 12px;
	border: 1px solid #9aaedb;
	margin-left: 10px
}

.order_item_apartment {
	width: 830px;
	height: 340px;
	border-radius: 12px;
	overflow: hidden;
	margin: 0px auto;
	margin-top: 40px;
	border: 1px solid #aab9d1
}

.order_item_apartment>ul {
	float: left;
	width: 75px;
	height: 340px;
	overflow: overlay
}

.order_item_apartment>ul li {
	color: black;
	cursor: pointer;
	width: 75px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	background: #d8e0f2;
	border-bottom: 1px solid #aab9d1
}

.order_item_apartment>ul li.active {
	color: #4c7deb
}

::-webkit-scrollbar-thumb {
	background: #5574a3
}

::-webkit-scrollbar {
	width: 6px
}

.order_item_apartment_right_content {
	float: left;
	width: 755px;
}

.roll {
	overflow: hidden;
	height: 113px;
	padding: 10px;
	background: #d4dce8;
	border-radius: 12px;
	border: 1px solid #aab9d1;
	position: relative
}

.roll span {
	display: inline-block;
	position: absolute;;
	top: 30px;
	z-index: 2
}

.roll .order_right {
	right: 10px
}

.roll ul {
	position: relative;
	width: 6000px;
	height: 110px;
}

.roll ul li img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-top: 4px
}

.roll ul li {
	position: relative;
	margin-right: 20px;
	cursor: pointer;
	background: white;
	border-radius: 12px;
	border: 1px solid #aab9d1;
	float: left;
	width: 94px;
	height: 94px;
	text-align: center;
	margin-top: 6px
}

.roll_ul_content {
	width: 630px;
	margin-left: 40px;
	overflow: hidden
}

.change {
	transform: scale(1.14);
	transition: all 1s;
	box-shadow: 0 0 4px #9ea4ad
}

.change1 {
	box-shadow: 0 0 4px #9ea4ad;
	transform: scale(1.14);
}

.select_series {
	width: 730px;
	margin: 11px auto
}

.select_series ul {
	overflow: overlay;
	height: 90px;
	padding: 10px;
	background: #d4dce8;
	border-radius: 12px
}

.select_series ul li {
	cursor: pointer;
	margin: 0 20px 10px 28px;
	float: left;
	width: 120px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border-radius: 12px;
	border: 1px solid #5876a5;
	background: white
}

.select_series ul li.active {
	background: #2c6cc2;
	color: white;
	box-shadow: 0 2px 2px #959aa3
}

.selected_emploee span {
	display: inline-block;
	margin-right: 30px
}

.selected_emploee span em {
	color: #2c6cc2
}

.selected_emploee {
	height: 30px;
	background: #d8e0f2;
	line-height: 30px;
	padding-left: 15px
}

.select_emploee {
	width: 730px;
	margin: 4px auto
}

.order_item_button {
	text-align: center;
	margin-top: 15px
}

.order_item_button button {
	width: 130px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	border-radius: 12px;
	background: #5574a3;
	border: none;
	color: white;
	margin: 0 45px
}

.order_item_button button:hover {
	background: #496795
}