.content_right{
	padding:27px 35px;
	
	
}
.new_vip{
	border:none;width:130px;height:26px;
	line-height:26px;text-align:center;border-radius:12px;
	color:white;background:#59688a;
	font-size:14px
}
.new_vip:hover{
	background:#495879
}
.business_manage_table{
	    box-shadow: 0 0 10px #dbdce2;
    width: 1020px;
    border-radius: 8px;
    
	margin-top:16px
}
.business_manage_table td{
	    height: 40px;
    text-align: center;
    border: 1px solid #dbdce2;
    vertical-align: middle;
    padding: 0 10px;
	position:relative

}
.business_manage_table tr:nth-child(odd){
	background:#f6f8fc
}
.business_manage_table tr:nth-child(1){
	background:#ebeff8;
	font-size:14px;color:black
}
.manage_hover{
	width:30px;height:25px;
	position:absolute;
	
	
}
.manage_hover span:hover{background:#ccc}
.manage_hover span{display:inline-block}
.zzc{
	position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	
}
.zzc{font-size:12px}
.zzc .business_level{
	width:1000px;
	height:530px;
	background:white;
	margin:50px auto
}
.zzc .business_level>p{
	height:66px;
	text-align:center;
	line-height:66px;
	color:white;
	font-size:18px;
	background:#2a3244
}
.demo_fade{display:none}
.business_level_content_left{padding:24px 30px;color:black}
.business_level_content_left select{
	width:130px;
	height:18px;
	border-radius:12px;
	border:1px solid black;
	margin:0 8px 0 20px
}
.business_level_content_left{width:610px;float:left}
.business_level_input_left{width:270px;float:left}
.business_level_input_left span{display:inline-block;margin-bottom:20px}
.business_level_input_left span em{display:inline-block;width:16px;height:16px;border-radius:8px;background:red;color:white;text-align:center;line-height:16px;cursor:pointer;font-size:16px}
.business_level_input_right{margin-left:16px;color:black;float:left;}
.business_level_input_right textarea{
	width:238px;
	height:78px;
	overflow:overlay;
	border-radius:12px;
	border:1px solid black
}
.business_level_input_left input{ width: 130px;
    height: 18px;
    border-radius: 12px;
    border: 1px solid black;margin-left:24px}
.business_level_input_right i{display:inline-block;margin-right:16px;position:relative;top:-30px}
.business_level_back>p{font-size:16px;margin-bottom:12px}
.business_level_back  .business_level_back_ul{margin-right:-10px;overflow:hidden}
.business_level_back_ul li{float:left;width:50px;height:30px;border-radius:8px;overflow:hidden;margin-right:12px;position:relative}
.business_level_back_ul li span{position:absolute;top:0px;left:0;display:inline-block;background:white;border:1px solid black;width:12px;height:12px}
.business_level_back_ul li >img{width:50px;height:30px;border-radius:8px;}
.business_level_back_text_ul li{float:left;width:280px;margin-bottom:22px}
.business_level_back_text_ul{padding:30px 0px}
.business_level_back_text_ul li input{
	width:130px;height:16px;border:1px solid black;
	border-radius:12px;margin-left:34px
}
.chzn-container{
	width: 126px!important;
    margin-left:26px;
   
    border-radius: 12px;
    
    
}

.chzn-single{
	width: 120px;
    height: 20px;
    border: 1px solid black;
    border-radius: 12px;
    
}
input[type='number']{
	width:50px!important;text-align:center;
	margin-left:10px!important
}
.chzn-container-single .chzn-single{border-radius:12px;border:1px solid black;width:143px;margin-left:8px}
.business_level_button{text-align:center;}
.business_level_button button{width:130px;height:28px;border:none;border-radius:15px;color:white;text-align:center;line-height:28px;background:#617195;margin-right:50px;font-size:14px}
.business_level_button button:hover{
	background:#525e7b
}
.business_level_content_right{float:left;border-left:1px solid black;width:329px;height:465px}
.business_level_content_right>p{
	color:black;font-size:16px;padding:13px 10px;
	
}
.preview_1{
	width:290px;
	height:180px;
	overflow:hidden;
	border-radius:8px;
	background:url('../images/vip_card.png') no-repeat;
	background-size:290px 180px;
	margin:0 auto;
	color:white;
}
.preview_left{float:left;width:100px;position:relative;top:95px;left:70px;font-size:12px}

.preview_right{float:left;width:160px}
.preview_right ul{margin-top:60px;margin-left:34px}
.preview_right ul li{height:50px}
.preview_right span{font-size:12px;position:relative;width:180px;display:inline-block;left:8px;top:-8px}
.preview_right span em{display:inline-block;height:20px;width:36px;text-align:center;line-height:20px;border:1px solid white;border-radius:12px;margin-left:12px}
.demo_fade li{border:none;width:30px;}
.demo_fade{width:30px;background:white}
.demo_fade{position:absolute;z-index:2}
.demo_fade li:hover{background:#ccc}
.preview_2{
	width:290px;
	height:180px;
	overflow:hidden;
	border-radius:8px;
	background:url('../images/vip_card1.png') no-repeat;
	background-size:290px 180px;
	margin:0 auto;
	color:white;
	margin-top:40px
}
.preview_2_top span{position:relative;left:200px;font-size:12px;top:10px;left:255px}
.logo_img{width:110px;float:left;height:160px}
.logo_img img{position:relative;top:55px;width:95px;height:95px}
.preview_2_content_right{float:left;margin-top:54px;width:180px}
.preview_2_content_right p{font-size:12px}
.business_level_back_ul li span img{position:relative;top:-5px;}
.business_level_back_ul li span{display:none}




.business_level_back_ul>p>span{display:inline-block;width:50px;height:24px}
.business_level_back_ul>p> img{width:20px}
.business_level_back_ul>p em{display:inline-block;border:1px solid #ccc;width:24px;height:24px}
.zzc1{	position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);display:none}
.business_level_content_right ul{width:330px;height:250px;}	
.business_level_content_right ul li{
    float: left;
    margin: 10px;
    cursor: pointer;
	border:1px solid white;
	width:24px;height:24px;
	text-align:center;
	line-height:34px
}
.business_level_content_right ul li  span{width: 20px;
    height: 20px;
border-radius: 10px;
display:inline-block
}
.select_color_content{
	width:560px;height:250px;background:white;margin:50px auto
}
.select_button{text-align:center;}
.select_button button:hover{text-align:center;background:#323449}
.select_button button{width:130px;height:28px;color:white;font-size:16px;line-height:28px;border-radius:12px;border:none;background: #41435c;}
.preview_vip_card{
 width:280px;height:180px;
 background:#65c294;
 border-radius:8px;
 margin:0 auto;
 box-shadow:0 4px 10px #474a49
}
.preview_vip_card>p{padding-top:40px;text-align:center;font-size:24px;color:white}
.preview_vip_card>p em{display:inline-block;margin-right:10px;font-size:30px}
.item_card {color:white;margin:20px 0 0 80px}
.item_card >p{height:34px}
.rest_money{color:white;position:relative;left:140px}
.preview_vip_card{margin-bottom:20px}


