/** Í·²¿ **/
.leftpanel .logo-wrap{text-align:left!important}
.header_{
	height:53px;
	width:1100px;
	background:#2a3244;
	
	
}
.logo-wrap{background:#2a3244!important;    padding-left: 20px!important;height:53px!important;}
.logo-wrap img{height:38px!important;width:auto!important;position:relative;top:-10px}
.header_  .input_{border-radius:20px!important;background:#2a3244;height:20px;width:80px ;padding-left:30px}

.header_content select{border-radius:20px!important;background:#2a3244;height:20px;width:80px ;border:1px solid #fff;color:white;position:relative;    left: 150px;
    top: -68px;}
.header_content{width:300px;position:relative;    left: 730px;
    top: 20px;
}
.header_img {display:inline-block!important;position:relative;left: 140px;top:-30px;margin-left:20px}
.left_nav li{height:100px;width:80px!important;color:#8d929a;font-size:12px;box-shadow:0 0 0 white!important;border-top:1px solid #383e52;border-bottom:1px solid #383e52}
.left_nav{background:#2a3244;height:1000px}
.nav_img{    padding: 30px 30px 0 30px;}
.left_nav{width:auto!important;}
.left_nav span{display:inline-block;position:relative;left:10px;top:8px}
.leftmenu .active a{z-index:0!important}
.leftpanel .logo-wrap{    border-bottom: 4px solid #2a3244!important;}


.left_nav_2{height:1000px;margin-left:80px}
.left_nav_2 li{width:120px!important;height:80px;box-shadow:0 0 0 #fff!important;color:#A69F9F}
.left_nav_2 ul{background:#323a4c;height:994px;background:#323a4c;width:120px!important}
.left_nav_2 span{display:inline-block;font-size:12px}
.left_nav_2 img{padding:10px;position:relative;top:16px}
.left_nav_2 .active{background:#2a3244!important;color:#FFFFFF!important}
.leftmenu .active img{display:inline!important}
.headerpanel{border-bottom: 4px solid #2a3244!important;}
.leftmenu .active{background:#2a3244!important;border-left:3px solid #ff0242;}
.left_nav_2 img{height:21px}
.left_nav_2 li:hover{cursor:pointer}
.leftmenu{height: 890px;
    overflow: hidden;}
.mainwrapper{min-height:auto!important}

	.left_nav li{cursor:pointer}
	.left_nav .active1{color:white;}
	
.header_1{width:400px;margin-left:650px;height:53px;line-height:53px;color:#ccced3;position:relative}
.header_1 span{display:inline-block;width:100px;text-align:center;height:33px;line-height:33px;}
.header_1 span img{vertical-align:middle;}

.ask_responsive{position:absolute;width:230px;height:150px;background:url('../images/top7.png') no-repeat;top:36px;display:none;left:-120px}
.tool{width:76px;height:76px;background:#f8f8fd;border-radius:10px;text-align:center;float:left;margin: 40px 13px 0 20px;box-shadow:0 0 10px #ccc }
.ask{width:54px;height:18px;line-height:18px;text-align:center;background:#ffffff;border-radius:12px;display:inline-block;margin:0 auto;color:black;position:relative;top:10px}
.tool p{text-align:center;padding-top:4px;height:20px}
.header_1 span{cursor:pointer}
.top_zzc {
    position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	display:none

}
.leave{width:505px;height:315px;margin:10% auto}
.make_title{height:52px;text-align:center;line-height:52px;color:white;font-size:16px;background:#323b4e}
.leave_left{float:left}
.leave_right{float:left;padding:50px 20px;width:248px}
.leave_content {background:white;padding:10px}
.leave_right .h2{font-size:18px;color:black;}
.ask_leave{font-size:18px;color:black;margin-top:20px}
.zzc_button{position:relative;top:70px}
.zzc_button button{width:76px;height:26px;line-height:26px;text-align:center;color:white;background:#3c4659;border-radius:12px;border:none;margin-right:8px}
.support_hover{position:relative;display:inline-block}
.header_1 span:hover{color:#f07373}