.add_store_content{width:910px;color:black;height:1115px;position:relative;left:-1px}
.add_store_button{float:left;width:400px}
.add_store_button button{width:120px;height:30px;text-align:center;line-height:30px;color:white;border-radius:15px;border:none;background:#59688a;font-size:16px;margin-right:10px}
.add_store_button button:hover{
	background:#414c66
}
.add_store_span{float:right;width:440px;height:32px;margin-left:0!important}
.add_store_span span{display:inline-block;margin-right:20px;font-size:10px}
.add_store_span span em{color:#f25353;font-size:16px}
.add_store_content_{height:60px;border-bottom:1px solid #c7cbd3;width:860px;margin:0 auto;line-height:60px}
.dd_store_content_2>ul{padding-left:10px}
.dd_store_content_2{margin-top:20px;overflow:overlay;height:620px}
.dd_store_content_2 li{width:284px;height:220px;background:url('../images/add_store.png') no-repeat;overflow:hidden;position:relative;float:left;margin:0 29px 20px 0;background-size:280px 220px}
.shop_name{height:32px;text-align:center;font-size:20px;line-height:32px;width:260px;position:relative;top:-10px!important}

.shop_pic{display:inline-block;height:80px;width:80px;border-radius:40px;overflow:hidden;box-shadow:0 0 10px #ccc;position:relative;top:20px;left:25px}
.shop_pic img{height:80px;width:80px;border-radius:40px;transition: transform 1s ease-out;}
.shop_pic img:hover{
	 transform: rotate(360deg);
}
.store_right{float:right;width:100px;margin-top:15px;position:relative;right:44px}
.connect_people{font-size:14px}
.phone_number{margin-top:12px;font-size:14px;display:inline-block;position:relative;right:4px}
.store_right p{margin-top:5px;}

.add_1{width:27%;float:left;position:relative;left:60px;top:20px}
.add_store_content_bottom{position:relative;top:30px;height:30px}
.add_1 img{vertical-align:middle;margin-left:4px}
.add_1:hover{color:red;cursor:pointer}
.business{display:inline-block;position:absolute;right:12px;top:64px;width:14px;padding:10px 2px;border:1px dashed #4dde5b;border-radius:4px;text-align:center;color:#4dde5b;cursor:pointer}
.dd_store_content_2  li  .active{
	border:1px dashed red;
	color:red
}
.zzc,.zzc1,.zzc2,.zzc3,.zzc4{
	position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	

}
.set_content{width:676px;height:565px;margin: 50px auto;background:white}

.new_shop{height:56px;line-height:56px;text-align:center;color:white;font-size:16px;background:#323b4e}
.shop_address_{font-size:14px}
.select_city{width:200px;margin-left:50px}
.detail_address{margin-top:25px}
.select_city input{border-radius:8px}
.detail_address input{margin-top:10px}

.add_store_back li{width:40px;height:251px;background:url('../images/add_store_back.png') no-repeat;cursor:pointer;background-size:40px 251px}
.add_store_back .active{width:40px;height:251px;background:url('../images/add_store_back_1.png') no-repeat;color:white!important;background-size:40px 251px}
.add_store_back li span{display:inline-block;width:14px;position:relative;left:15px;top:50px;font-size:14px;}
.add_store_back {float:left}
.add_store_div{width:1000px;margin:20px auto}
.add_store_content{float:left;border:1px solid #ccc;padding:20px;border-radius: 0 0 10px 10px}
.add_store_span_1{float:right}
.add_store_span_1 span{color:red;font-size:16px}
.add_store_span_1{font-size:14px}
.distribution{   
    margin-top:20px;margin-left:40px;height:600px;overflow:overlay}
.distribution_list> p{padding-left:13px;height:34px;line-height:34px;font-size:14px;border-bottom:1px solid #b6b2b5}
.distribution_list >p span{display:inline-block;width:38px;height:20px;text-align:center;line-height:20px;color:#ec5758;border:1px solid #ec5758;border-radius:4px;position:relative;left:56px;cursor:pointer}
.distribution_list_text p{margin-left:13px;line-height:22px}
.distribution_list_text{margin-top:4px}
.distribution_list{background:#f6f8fc;width:200px;height:86px;border-radius:12px;border:1px solid #3d3d3d;position:relative;float:left;margin-right:20px;margin-bottom:20px}
.distribution_alert{position:absolute;width:157px;height:111px;background:url('../images/add_back.png') no-repeat; left: 140px;z-index:3;
    top: 30px;padding-top:20px;display:none}
.distribution_alert input{height:12px;width:52px;border-radius:4px;margin-left:10px;padding-right:20px}
.distribution_alert p{padding-left:20px;margin-bottom:5px}
.distribution_alert_button{width:100px;margin:5px auto}
.distribution_alert_button button{margin-right:8px}
.distribution_alert_button button{width:40px;height:22px;border-radius:4px;text-align:center;border:none;line-height:22px;color:white;background:#59688a}
.add_store_two_left{float:left;width:190px}
.left_detail{margin-top:70px}
.left_detail p{padding-left:30px}
.left_detail select{width:130px;height:22px;border-radius:16px;}
.left_detail>p{font-size:16px;margin-bottom:12px}
.left_detail span{color:red;cursor:pointer;position:relative}
.left_detail em{display:inline-block;width:107px;height:63px;background:url('../images/pay_saying.png') no-repeat;   position: absolute;background-size:100%;
    top: -58px;
    left: -50px;font-size:10px;color:#2c2a2a;display:none}
	.left_detail i{display:inline-block;width:100px;position:relative;top:6px;left:10px}
.left_detail button{width:130px;height:28px;text-align:center;line-height:28px;color:white;font-size:16px;border-radius:16px;border:none;background:#59688a;position:relative;left:35px}
.left_detail button:hover{background:#3f4a64}
.right_detail{float:left;margin-left:30px;height:705px;overflow:overlay}
.right_detail table{width:730px}
.right_detail td{height:38px;text-align:center;border:1px solid #dbdce2;vertical-align:middle;padding:0 10px}
.right_detail{box-shadow:0 0 10px #dbdce2;width:730px}

.right_detail tr:nth-child(even){background:#f6f8fc}
.right_detail tr:nth-child(1){background:#ebeff8;height:41px;font-size:14px}
.add_balance{height:560px;width:670px;margin:50px auto;background:white}

.add_balance>p{
	height:65px;text-align:center;
	line-height:65px;color:white;
	font-size:16px;background:#323b4e
}
.add_balance_content{width:664px;height:370px;overflow-y:overlay;margin:40px auto}
.add_balance_content table{width:664px}
.add_balance td{height:38px;text-align:center;border:1px solid black;vertical-align:middle;padding:0 10px}
.add_balance{box-shadow:0 0 10px #dbdce2;width:730px}

.add_balance tr:nth-child(even){background:#f6f8fc}
.add_balance tr:nth-child(1){background:#ebeff8;height:41px;font-size:14px}
.add_balance tr td:nth-child(2){
	color:red
}
.add_balance_button button{height:26px;width:130px;text-align:center;line-height:26px;color:white;border-radius:8px;border:none;background:#59688a;margin-right:50px}
.add_balance_button {width:370px;margin:0 auto}
.add_balance_button button:hover{background:#3a4660}

.add_balance_content>p{height:40px;font-size:14px}
.this_buy>p{font-size:14px;margin:10px 0 20px 0}
.this_buy li{float:left;width:220px;margin-bottom:20px}
.this_buy li span{display:inline-block;height:26px;width:128px;line-height:26px;text-align:center;border-radius:8px;border:1px solid black;margin-left:10px}
.total_price{font-size:14px;margin-top:20px}
.total_price span{font-size:18px;color:red}

.this_buy input[type="text"]{width:120px;border-radius:8px;margin-left:2px;border:1px solid black}

.assigned{width:610px;height:410px;margin:50px auto;background:white}
.assigned p{height:64px;line-height:64px;text-align:center;background:#323b4e;color:white;font-size:16px}
.assigned_table{width:562px;height:262px;margin:20px auto;overflow:overlay;}
.assigned_table table{width:562px;box-shadow:0 0 10px #dbdce2;}
.assigned_table td{height:38px;text-align:center;border:1px solid black;vertical-align:middle;padding:0 10px}
.assigned_table tr:nth-child(1){background:#d7dcea;height:41px;font-size:14px}
.assigned button{width:130px;height:28px;text-align:center;line-height:28px;color:white;font-size:16px;border-radius:16px;border:none;background:#59688a;position:relative;left:80px;margin-left:50px}
.assigned button:hover{background:#3f4a64}

.assigned_table_span input,.assigned_table_span select{width:100px;height:20px;border-radius:15px;border:1px solid black}
.assigned_table_span em{display:inline-block;width:70px}
.assigned_table_span{display:inline-block;margin-right:100px;color:black;height:50px;float:none!important}
.assigned_table_price_{color:black;margin:100px 0 0 30px;font-size:14px}
.assigned_table_price_ em{color:red;font-size:16px}
.assigned_table_sure_button{position:relative;top:46px}

.assigned_table_sure_button button{width:130px;height:26px;text-align:center;line-height:26px;border:none;border-radius}




.add_store_sale{border-radius:10px;background:#d8deed;height:94px;padding:5px 20px}
.add_store_sale span{display:inline-block;width:288px;height:50px;font-size:14px;}
.add_store_sale span select{width:120px;height:22px;border:1px solid #ccc;border-radius:12px!important;padding-left:30px}
.add_store_sale span em{display:inline-block;width:100px}
.add_pic_{
	margin-top:20px
}
.add_pic_ p{font-size:14px;color:black}
.add_pic_ ul{border-radius:10px;background:#d8deed;margin-top:10px}
.add_pic_ ul li em img{width:150px}
.add_pic_ ul li{width:150px;height:150px;position:relative;float:left;margin: 15px 43px 10px 34px;}
.add_pic_ ul li span{position:absolute;right:-5px;top:-5px}

.item_saying{margin-top:20px;}
.item_saying p{font-size: 14px;
    color: black;margin-bottom:10px;margin-left:10px}
	
.textarea1{
	height:450px;background:#d8deed;
	border-radius:10px
}
.textarea1 textarea	{
	height:380px;
	width:550px;
	margin:10px;
	border-radius:10px;
	border:1px solid black;
	overflow:overlay
}
.left_nav_2 ul{
	height:1300px!important
}
.left_nav{
	height:1300px!important
}
.item_button{text-align:center;margin-top:20px}
.item_button button{width:130px;height:28px;color:white;border:none;border-radius:10px;text-align:center;line-height:28px;color:white;background:#59688a;margin-right:80px}
.shop_price{height:100px;border-radius:10px;background:#d8deed;padding: 5px 20px;font-size:12px;color:black}
.shop_price_1 input,.shop_price_2 span input{height:22px;width:120px;border-radius:12px!important;margin-left:26px;border:1px solid #ccc;padding-right:20px}
.shop_price_1 span,.shop_price_2 span{display:inline-block;position:relative}
.shop_price_1 em,.shop_price_2 span em{position:absolute;right:10px;top:5px;color:#737373}
.shop_price_2{margin-top:30px}
.shop_price_2 i{display:inline-block;margin:0 20px 0 55px}
.shop_price_2 i input{margin-right:15px}
.percentage >p{font-size:14px;color:black;margin-top:20px}
.percentage_content{border-radius:8px; padding: 5px 20px;font-size:12px;background:#d8deed;height:60px;margin-top:10px}
.percentage_content span{display:inline-block;margin-left:25px}
.percentage_content span input{margin-right:10px}
.item_button button:hover{background:#3c4861}

.percentage span input[type='text'] {
    height: 22px;
    width: 120px;
    border-radius: 12px!important;
    margin-left: 26px;
    border: 1px solid #ccc;
    padding-right: 20px;
}
.percentage span em {
    position: absolute;
    right: 20px;
    top: 5px;
    color: #737373;
}

.vip_price{margin-top:20px}
.vip_price>p{font-size:14px;color:black;margin-bottom:10px}
.vip_roll{background:white;position:relative;border-radius:10px}
.left_click{position:absolute;z-index:2;top:25px}
.right_click{position:absolute;z-index:2;top:25px;right:8px}
.right_click img,.left_click img{width:40px}
.vip_price_content{font-size:12px;background:#d8deed;padding: 5px 20px 20px 20px;border-radius:10px}
.vip_price_content input{width:70px;border:1px solid #ccc;border-radius:12px;margin:0 5px;height:16px}
.roll_ul{height:115px;width:820px;overflow:hidden;border-radius:10px;margin-top:4px;position:relative;}
.roll_ul ul{width:4000px;position:relative}
.roll_ul li{padding-left:5px;border:1px solid #ccc;width:150px;height:90px;border-radius:10px;margin:15px 35px 15px 0;float:left}
.roll_ul li select{margin-left: 7px;padding:0;width:80px;height:20px;border-radius:10px;border:1px solid #ccc}
.roll_ul li input{height:12px!important}
.roll_ul ul{margin-left:40px}
.roll_ul li p{margin-top:5px}
.li_button{text-align:center;margin-top:5px}
.li_button button{border:none;width:50px;height:22px;text-align:center;line-height:22px;border-radius:8px;color:white;background:#59688a;margin-right:5px}
.demo2_button{text-align:center;margin-top:25px}
.demo2_button button{border:none;width:130px;height:26px;text-align:center;line-height:26px;color:white;border-radius:8px;background:#59688a;color:white;margin-right:25px}
.demo2_button button:hover{background:#475473}
.add_store_back li i{display:inline-block;width:17px;height:8px}
.textarea_text p{text-indent:1em;line-height:26px}