.phone_goods{height:620px;width:1000px;margin:50px auto}
.phone{width:290px;height:580px;float:left;border:1px solid #ccc;}
.phone_input{position:relative;top:-2px}
.phone_input em{position:absolute;left:45px;top:2px}
.phone_input input{width:166px;border-radius:16px;height:14px;padding-left:28px;margin:2px 0 0 40px}
.phone_header{height:30px;background:#6fd571}
.phone_buy{position:relative;top:4px;left:20px}

.phone_ad{height:110px;text-align:center;line-height:110px;color:red;font-size:20px;background:#dcdcdc;cursor:pointer}
.phone_ul li{float:left;width:33.3%;position:relative}
.phone_ul li div{height:22px;color:white;background:black;text-align:center;line-height:22px; opacity: 0.5; filter: "alpha(opacity=50)";position:absolute;bottom:5px;width:100%;font-family:12px}
.phone_content .default{height:34px;background:white;line-height:34px}
.phone_content .default span{display:inline-block;margin-left:5px;font-size:14px}
.phone_content .default a{position:relative;left:210px;color:#cbf195;font-size:10px}
.phone_content_ li{width:120px;height:136px;float:left;background:white;border:1px solid #ccc;margin:18px 11px 18px 11px}
.phone_content_ li img{width:120px;}
.phone_content_  p span{font-size:10px}
.phone_content_  p{margin:10px 0 0 0}
.phone_content_  p em{color:red;display:inline-block;margin-left:20px;font-size:14px}
.zzc{
	position: absolute;
    top: 0px;
    height: 340px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(127, 127, 127, 0.9);
	text-align:center;
	line-height:324px;
	font-size:24px;
	color:white;
	font-weight:bold
	
	
}
.adjust_goods_1{display:none}
.phone_content_{height:323px;width:100%;position:relative}
.adjust_goods,.adjust_goods_1{width:620px;border:1px solid #ccc;border-radius:20px;height:520px;float:right;padding:30px 15px}
.adjust_goods_span{font-size:20px;color:black}
.adjust_goods_p{margin-bottom:20px}
.adjust_goods_p em{display:inline-block;margin-left:20px}
.adjust_goods_p button{height:26px;width:100px;border-radius:12px;border:none;background:#59688a;color:white;text-align:center;line-height:26px;position:relative;left:182px}
.adjust_goods_p button:hover{background:#3f4a62}

.adjust_ul{height:470px;width:276px;border-radius:8px;border:1px solid #ccc;padding:5px;color:black;background:#ebeff8;float:left}
.adjust_ul_{height:470px;width:276px;border-radius:8px;border:1px solid #ccc;padding:5px;color:black;background:#ebeff8;float:right;position:relative;}
.no_choose,.no_choose_{height:32px;line-height:32px;text-align:center;font-size:16px;border-bottom:1px solid #ccc}

.adjust_list{height:64px;width:260px;border-radius:10px;border:1px solid #ccc;margin-bottom:10px;margin-left:5px;cursor:pointer;position:relative}
.adjust_list .shoes_{
	display:inline-block;height:64px;width:50px;line-height:64px;;text-align:center;font-weight:bold
}

.shoes_right{float:right;margin-top:4px}
.shoes_right span{display:inline-block;width:60px}
.shoes_right_new{position:relative;left:-78px}


.adjust_list{background:white}
.shoes_right_{position:relative;top:-25px;left:58px}
.adjust_list_1{padding-top:20px;height:400px;overflow-y: overlay;
    overflow-x: hidden;}

.adjust_ul_list{height:400px;overflow-y:overlay;padding-top:20px;overflow-x:hidden}
.adjust_list img{position:absolute;right:2px}

.adjust_ul .active{border:1px solid red}
.adjust_goods_button{    height: 36px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background: #92df24;
    color: black;
    text-align: center;
    line-height: 30px;
    position: relative;
    left:36px}
.adjust_goods_button:hover{background:#7fc914}
.add_pic li{height:89px;width:89px;float:left;margin-left:40px;margin-bottom:20px}
.add_pic{width:400px;margin-top:30px}