i,em{font-style:normal}

.emploee_head{margin:53px 50px}
.rightpanel{background:white}
.emploee_ul{height:142px;width:150px;overflow:overlay;float:left}
.emploee_ul li{height:34px;text-align:center;line-height:34px;border:1px solid #c3c9d5;cursor:pointer}
.emploee_ul .active{border-left:3px solid #ff0000}
.emploee_right{float:left;border:1px solid #c3c9d5;margin-left:10px;width:838px;height:135px;position:relative;overflow:hidden}
.emploee_right_ul li{height:85px;width:140px;border:1px solid #e7dede;float:left;margin:16px 28px;cursor:pointer}
.emploee_right_li{height:60px;width:140px;text-align:center;line-height:60px;font-size:20px;font-weight:bold;border-bottom:1px solid #c5bcbc}
.emploee_right_ul span{display:inline-block;width:48%;text-align:center;height:20px}
.emploee_right_ul{width:4000px;margin-left:30px;position:relative}

.roll_pic {
    width: 75px;
    border-radius: 40px;
    overflow: hidden;
    margin: 6px auto;
}
.roll_{position:relative;float:left;height:152px;width:600px}
   .roll_pic img{  width: 65px;
    border-radius: 40px;
   }
   .example li{float:left;width:140px;height: 136px;
    padding-top: 16px;margin-left:20px}
   .roll_right{float:left;margin-left:30px;width:3000px;position:relative}
   .roll_right em{display:inline-block;margin-left:8px}
    .roll_right p{text-align:center}
	.state{text-align:center;color:black;border:1px solid #dbdce2;position:relative;width:130px;margin:0px auto;height:34px}
	.state i{display:inline-block;border:1px solid  #dbdce2;position:absolute;left:0 ;    width: 18px;
    height: 24px;
    line-height: 24px;text-align:center;color:red}

	
	.state i{display:inline-block;width:20px;height:20px;background:#ff0000;color:white;border-radius:10px;text-align:center;line-height:20px;left:4px;top:5px}
	.drag_content{position:relative;top:44px;overflow:overlay;width:980px;height:461px;border:1px solid #d5d5d5;border-radius:10px;padding:10px}
	.adjust_{display:inline-block;width:100px;height:28px;background:#59688a;text-align:center;line-height:28px;border-radius:14px;color:white;cursor:pointer}
	.adjust_ img{vertical-align:middle;margin-right:4px}
	.adjust{position:relative;top:28px;}
	.adjust_text{display:inline-block;margin-left:14px;height:28px;line-height:28px}
	
	
	.roll_pic img{
		    transition: transform 1s ease-out;
	
	}
	
	.roll_pic img:hover{
		transform:rotate(360deg);
    }
	.brick p{position:relative;top:-5px}
.gridly li{width:140px!important}
.gridly .active{ animation: animation-shake infinite linear 0.2s;position:relative;}
	
@keyframes animation-shake {
0% {
transform: rotate(0);
   }
25% {
transform: rotate(-1deg);
   }
75% {
transform: rotate(1deg);
    }
100% {
  transform: rotate(0);
     }
}

.state select{width:70px;height:20px;background:white}
.adjust_:hover{background:#737f99}
	.emplee_content_1{border:1px solid #dbdce2;padding:10px 0}
	.emploee-right{margin-top:20px;margin-left:30px;}
.emplee_name input{margin-left:20px;width:220px}
.emplee_name{width:450px;margin-bottom:20px;margin-left:10px}
.emplee_rule,.emplee_job{position:relative;left:10px}
.emplee_rule span{display:inline-block;margin-right:138px}
.emplee_rule span em input{margin-right:4px!important}
.emplee_rule em{display:inline-block;margin-left:10px;}
.emplee_rule em imput{margin-left:4px;}
 .emplee_rule input[type="radio"], input[type="checkbox"]{    margin: 0!important;margin-right:4px}
 
 .emplee_job span i {
    display: inline-block;
    margin-left: 20px;
}

.emplee_job_content .design_ {
    display: inline-block;
    margin-right: 68px;
}

.emplee_job_content_ {
    margin-bottom: 16px;
	margin-top:34px
}

.emplee_rule, .emplee_job {
    position: relative;
    left: 10px;
}
.emplee_rule{margin-right:-40px;overflow:hidden}
.zzc{
    position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	display:none
 
}
.zzc1{    position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	display:none
	}
.zzc .adjust_list,.zzc1 .adjust_list{width:1180px;margin:100px auto;height:660px}
.adjust_list .adjust_1{height:80px;width:1180px;text-align:center;line-height:80px;font-size:18px;color:white;background:#2e3649}
.emplee_content_1{background:white;padding:40px 50px}
.emplee_name span{color:black;font-weight:bold;font-size:14px}
.rule_1{color:black;font-weight:bold;font-size:14px}

.emplee_job{margin-top:60px}
.emplee_name input{padding-left:30px;border-radius:4px}
.emplee_job p{    color: black;
    font-weight: bold;
    font-size: 14px;
}
.emplee_job_content_  select{width:150px;height:28px;border-radius:4px;position:relative;left:8px;color:#bbbbbf}
.emplee_job_content_  .design{display:inline;position:relative;left:4px}

.emplee_save_  button {
    
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background: #2a3244;
    text-align: center;
    line-height: 35px;
    color: #dddddd;
    box-shadow: 0px 6px 10px #ccc;
    border: none;
    margin-right: 45px;
}
.emplee_save_{margin-left:720px;margin-top:40px;margin-bottom:20px}
.emplee_content_2{height:300px;width:780px;border-radius:8px;background:#f4f4f4;margin:0px auto;overflow:overlay}
.adjust_list_{width:826px;height:480px;margin:100px auto}
.adjust_list_ .adjust_1{background:#323b4e;text-align:center;height:66px;line-height:66px;width:826px;font-size:18px;color:white}
.emplee_content_1_{background:white;padding-top:36px}
.emplee_content_2 li{float:left;width:120px;text-align:center;height:32px;line-height:32px;background:white;border-radius:8px;margin-left:17px;margin-top:20px;cursor:pointer}
.emplee_content_2 .active{background:#d8d8d8}

.emplee_sure{width:160px;height:34px;text-align:center;line-height:34px;background:#323b4e;color:white;font-size:18px;bordeR:none;border-radius:20px;margin:20px 638px}
.close_1{position:relative;left:322px;top:2px}
.adjust_button button{
	border-radius: 14px;
    box-shadow: 0px 6px 6px #ccc;
    width: 100px;
    height: 28px!important;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    background: #2a3244;
    color: white;
    border: none;
    margin-right:10px;
    color: white;
	
}
.adjust_button  button:hover{background:#516286}
.adjust_button{display:none}

.brick  p{color:black;text-align:center}
.state select {padding-left:25px;width:60px;height:16px;background:white;border:none;position:relative;top:4px;left:10px}
.state{background:#eeeeee}
.free{width:91px;position:relative;left:33px;z-index:100;top:1px;display:none}

.free li{width:62px!important;height:26px;background:white;text-align:center;line-height:26px;position:relative;padding-top:0px!important;padding-left:10px}
.free li em{position:absolute;left:4px;top:4px}
.free li:hover{cursor:pointer;}
.select_ {
    display: inline-block;
    width: 65px;
    height: 26px;
    position: relative;
   
    left: 22px;
    cursor: pointer;
    background: white;
    padding-right: 8px;
}
.free li{border:1px solid white;box-shadow:0 4px 10px #ccc}
.free li:hover{border:1px solid #ccc}
.select_ em{position:relative;top:4px;left:-2px}
.down{position:absolute;right:-18px;top:-2px}
.line_{display:inline-block;height:22px;width:2px;background:#ccc;position:relative;left:10px;top:5px}
.emploee_right_ul li:hover{box-shadow:0 8px 8px #ccc}
.emploee_right_ul .active{border-top:2px solid #ff0000}
.right_click{position:absolute;top:30px;right:5px;z-index:20}
.left_click{position:absolute;top:30px;left:5px;z-index:20}
.left_click img,.right_click img{width:40px}
