

.hand_detail_left,.hand_detail_right{color:black;font-weight:normal}
.hand_detail_left{margin-left:20px}
.content_right{padding:20px}
.content_right input[type='text']{  border-radius: 5px!important; box-shadow: 0 0 3px #ccc;margin-left:20px}
.input_search{position:relative}
.input_search em{position:absolute;right:6px;top:1px}
.single_account{display:inline-block;height:26px;width:100px;border-radius:10px;border:1px solid #ccc;margin-left:45px;text-align:center;line-height:26px;box-shadow: 0 0 3px #ccc;color:black }
.content_right input[type='checkbox']{margin:0!important}
em {
    font-style: normal;
}
.head_search{position:relative}
.head_search_back{
	position:absolute;
	height:500px;width:300px;
	background:white;
	top:50px;
	border-radius:10px;
	z-index:20;
	border: 1px solid #dbdce2;
    box-shadow: 0 0 10px #ccc;
	
}
.arrow-up {
    width:0; 
    height:0; 
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    border-bottom:30px solid white;
	
	position:relative;top:-20px;
	left:100px
	
}
.hand_table {
    line-height: 40px;
    width: 860px;
    border: 1px solid #dbdce2;
    box-shadow: 0 0 10px #ccc;
    
	margin:30px 20px;
	
}
.hand_table_{
	  line-height: 40px;
    width: 660px;
    border: 1px solid #dbdce2;
    box-shadow: 0 0 10px #ccc;
	display:none;
    
	margin:30px 20px;
}
.hand_table_ input{text-align:center;width:150px}
.hand_table_ td span{display:inline-block;margin-right:12px}
.hand_table_ td span input{margin-left:5px;vertical-align:middle}
.hand_table_ tr td{
	 width: 140px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
}
.hand_table tr td{
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
}
.hand_table tr:nth-child(1){
	background:#e9ebf5
} 
.hand_table_ tr:nth-child(1){
	background:#e9ebf5
} 
.nav_content_div table tr:nth-child(1){
	font-weight:normal
}

.hand_detail_left{float:left;width:395px;border:1px solid #ccc;box-shadow: 0 0 3px #ccc;border-radius:8px;height:605px}
.hand_detail_right{float:left;width:555px;margin-left:45px;border:1px solid #ccc;box-shadow: 0 0 3px #ccc;border-radius:8px;height:605px;background:#e9ebf5}
.select_part{height:53px;background:#e9ebf5;text-align:center;line-height:53px}
.select_part_{width:120px;height:26px;border-radius:10px;padding-left:60px;font-size:14px}
.hand_detail_content{margin-left:20px}
.hand_project li{width:60px;height:30px;text-align:center;line-height:30px;float:left;cursor:pointer;margin-right:25px}
.hand_project .active{border:1px solid #ccc;border-radius:10px}
.hand_project{width:260px;margin:10px auto}
.hair_series{width:345px;overflow:hidden;position:relative;margin-bottom:15px}
.hair_series ul{width:4000px;height:36px;border-bottom:1px solid #ccc;margin-left:10px;position:relative}
.hair_series ul li{float:left;height:20px;width:94px;text-align:center;line-height:20px;border-right:1px solid #ccc}
.hand_left{position:absolute;left:5px;top:5px;z-index:2}
.hand_right{position:absolute;right:5px;top:5px;z-index:2}
.hair_series_{position:relative;padding-top:10px;border:1px solid #ccc;border-radius:10px;width:370px;margin:10px auto;height:475px;}
.hair_content{height:335px;overflow:overlay}
.hair_series li:last-child{border:none}
.hair_content ul li{float:left;width:108px;height:44px;border-radius:8px;margin-left:4px;margin-bottom:13px;padding:5px 0 0 8px ;cursor:pointer;border:1px solid #ccc}
.hair_series li{cursor:pointer}
.hair_series .active{color:#ed4343}
.hair_content .active{background:#dadce6}
.nav{height:53px;border-bottom:1px solid #ccc}
.nav li{float:left;height:53px;text-align:center;line-height:53px;width:185px;font-size:16px;cursor:pointer}
.nav .active{background:#d7d9e3;}

.table-toolbar input[type='text']{width:128px;height:16px;border:1px solid #717171;border-radius:12px;}
.nav_content{width:510px;height:420px;overflow-y:scroll;margin:26px auto}
.nav_content_div{height:110px;border-radius:10px;background:#dfe1e9;position:relative;margin-bottom:20px}
.nav_content_div_1{height:40px;border-radius:10px;background:#dfe1e9;position:relative;margin-bottom:20px}
.nav_content_div p,.nav_content_div_1 p{padding:10px}
.nav_content_div_1 span{display:inline-block;margin-left:30px}
.nav_content_div_1 select{width:120px;border-radius:8px;margin-left:10px;position:relative;top:-4px;height:20px}
.nav_content_div p i,.nav_content_div_1 p i{display:inline-block;margin-left:22px }
.nav_content table{width:470px;margin-left:20px;line-height:30px}
.nav_content td{width:60px;text-align:center}
.nav_content td select{width:100px;height:16px;border-radius:5px}
.nav_content td input{position:relative;left:6px;vertical-align:middle}
.hand_close{position:absolute;right:10px;top:10px}
.nav_content_div_1 i,.nav_content_div_1 >em{width:120px;display:inline-block;text-align:center}
.open_time{margin-top:150px}
.open_time span{display:inline-block;width:190px;margin-right:20px}
.open_time span input{width:120px;height:30px;border-bottom:1px solid #ccc;border-right:0;border-left:0;border-top:0;margin-left:10px}
.open_time button{width:126px;height:30px;color:white;text-align:center;line-height:30px;background:#5b6080;border:none;border-radius:10px}
.open_time button:hover{background:#434760}

.hand_ul li{padding-left:20px;height:40px;padding-right:20px}
.head_search .active{border:1px solid #cb6262;color:#cb6262}
.chzn-container-single .chzn-single{border-radius:8px!important}