.content_right{padding:40px;font-size:14px;color:black}

.add_income>p>button{width:130px;height:26px;border-radius:12px;border:none;background:#5d5f78;color:white;font-size:16px;text-align:center;line-height:26px}
.add_income ul li{float:left;margin-right:20px}
.add_income ul li select{width:90px;height:20px;border-radius:12px;border:1px solid black}
.add_income ul li input{width:90px;height:20px;border-radius:12px;margin:0 5px;border:1px solid black}
.add_income ul li button{width:100px;height:26px;border-radius:12px;background:#5d5f78;color:white;border:none}
.add_income ul{height:30px;margin:30px 0}
.add_income_table>p{font-size:10px}
.add_income_table>p>span{color:red}
.add_income_table table{
	 box-shadow: 0 0 10px #dbdce2;
    width: 1000px;
	margin-top:10px
}
.add_income_table table td{
	height: 38px;
    text-align: center;
    border: 1px solid #dbdce2;
    vertical-align: middle;
    padding: 0 10px;
}
.add_income_table table tr:nth-child(even){background:#f6f8fc}
.add_income_table table tr:nth-child(1){background:#ebeff8;height:40px}

.zzc {
    position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	font-size:14px;color:black
}
.zzc_add_income{width:600px;height:520px;margin:50px auto;background:white;}
.zzc_add_income>p{height:66px;text-align:center;line-height:66px;color:white;font-size:18px;background:#26283d}
.zzc_add_income_content{padding:20px;}
.zzc_add_income_content_first span{display:inline-block;margin-right:20px}
.zzc_add_income_content_first span input{width:130px;height:20px;border-radius:12px;margin-left:10px;border:1px solid black}
.zzc_add_income_content_left{float:left;width:280px}
.zzc_add_income_content_left span{display:inline-block;width:80px;height:40px}
.zzc_add_income_content_left li input{width:130px;height:20px;border-radius:12px;border:1px solid #a2a3ad}
.zzc_add_income_content_left li select{width:86px;height:20px;border-radius:12px;border:1px solid #a2a3ad;color:#a2a3ad;padding-left:50px}
.zzc_add_income_content_right{float:left;margin-left:50px}
.zzc_add_income_content_right input{width:130px;height:20px;border-radius:12px;border:1px solid #a2a3ad}
.income_way>p{margin:10px 0}
.income_way span{display:inline-block;margin-right:48px}
.income_way span input{margin-right:10px}
.income_saying{margin-top:15px}
.income_saying textarea{margin-top:10px;width:520px;height:90px;border:1px solid #a2a3ad;border-radius:12px}
.income_button button{width:130px;height:26px;color:white;border:none;border-radius:12px;text-align:center;line-height:26px;background:#41435c;margin:0 30px}
.income_button {text-align:center;margin-top:18px}
.income_button button:hover{
	background:#323449
}

.zzc1 {
    position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);
	font-size:14px;color:black
}
.zzc_add_income_content_left1 span em{
	width:68px;display:inline-block
}
.zzc_add_income_content_left1  select{
	    width: 130px;
    height: 20px;
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid black;
}
.zzc_add_income_content_left2 select{  width: 130px;
    height: 20px;
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid black;}
.zzc_add_income_content_left2 input{ width: 130px;
    height: 20px;
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid black;}
.zzc_add_income_content_left1 input{
	width: 130px;
    height: 20px;
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid black;
}
.zzc_add_income_content_left1 span{display:inline-block;margin-right:50px}
.zzc_add_income_content_left2 em{width:68px;display:inline-block}
.zzc_add_income_content_left2 >p{margin-top:10px}
.income_out{    width: 130px;
    height: 20px;
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid black;}