.content_right{padding:28px 34px;color:black;font-size:14px}
.content_right>p>button{width:130px;height:26px;border:none;border-radius:12px;color:white;text-align:center;line-height:26px;background:#596788}
.content_right>p>button:hover{background:#4a5674}
.new_plan_plan{overflow:overlay;margin-top:20px;border:1px solid #898989;border-radius:8px;height:600px;}
.new_plan_plan table{width:1010px}
.new_plan_plan td{width:120px;height:40px;text-align:center;vertical-align:middle;border:1px solid #c2c2c2;border-top:none;border-left:none}
.new_plan_plan td:last-child{border-right:none}
.new_plan_plan td img{margin:0 10px;position:relative;top:4px}
.new_plan_plan td .progressing{color:#2259c9}
.new_plan_plan tr:first-child{background:#ebeff8}
.new_plan_plan td .lose{color:#d73617}
.new_plan_plan tr:nth-child(odd){background:#f6f8fc}

.zzc{font-size: 14px;
    color: black;
    position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    background: rgba(102, 108, 121, 0.8);}
.zzc_new_plan{width:750px;height:590px;margin:2% auto;background:white}	
.zzc_new_plan>p{height:66px;color:white;text-align:center;line-height:66px;font-size:18px;background:#454560}
.zzc_new_plan_content{padding:18px 35px}
.new_plan_content_select>select{width:134px;height:20px;border:1px solid #898989;color:black;border-radius:12px;font-size:14px}
.new_plan_content_select>span>select{width:94px;height:20px;border:1px solid #898989;color:black;border-radius:12px;font-size:14px}
.new_plan_content_select input{margin-left:26px;width:134px;height:20px;border:1px solid #898989;border-radius:12px;}
.new_plan_content_select span{display:inline-block;margin-right:10px}
.new_plan_content_select>select{margin-right:50px}
.new_plan_content_select{height:45px;border-bottom:1px solid #dbdbdb}

.select_model{margin-top:20px}
.select_model>p{font-size:16px}
.select_model input[type="checkbox"]{margin-left:4px}
	input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    position: relative;
    top: -3px;
    margin-right: 8px;
	}

input[type="checkbox"]:checked {
    background: url('../images/checked.png') no-repeat;
    background-position: center center;
    border: 1px solid #d93717;
background-size: cover;}

.select_model ul{padding-left:8px}
.select_model ul li {cursor:pointer;float:left;;width:120px;height:26px;text-align:center;line-height:26px;border-radius:12px;margin-top:20px;border:1px solid #989898;margin-right:12px}
.select_model ul .active{background:#427ddf;color:white;border:1px solid white}
.plan_theme{padding:15px 12px;border:1px solid  #989898;border-radius:12px;margin-top:22px}
.plan_theme p em{display:inline-block;width:66px}
.plan_theme p  input{border:1px solid  #989898;border-radius:12px;width:126px}
.plan_theme p {margin-bottom:12px}
.plan_theme p span{display:inline-block;margin-right:12px}
.message_content{margin-top:16px}
.plan_theme .message_content  textarea{border: 1px solid #989898;border-radius: 12px;width: 574px;height:86px;resize:none}
.plan_theme .message_content i{display:inline-block;width:62px;}
.plan_theme .message_content  a{color:#1f69d9}
.message_ask{margin-top:10px}
.message_ask span{display:inline-block;margin:0 20px 0 15px}
.message_ask span input{margin-right:10px}
.new_plan_button{margin-top:20px;text-align:center}
.new_plan_button button{width:130px;height:26px;border:none;border-radius:12px;text-align:center;line-height:26px;color:white;font-size:16px;margin:0 67px;background:#6c728b}
.new_plan_button button:hover{background:#4e5264}
.plan_theme p select{border: 1px solid #989898;
    border-radius: 12px;
    width: 126px;}
.message_content p{float:left}
.message_content div{float:left;width:584px;line-height:22px;margin-left:10px}