.content_right{padding:50px 60px}

.pay_price>p{font-size:16px;color:black}
.pay_price_num{width:920px;height:580px;border-radius:12px;border:1px solid #ccc;margin-top:20px;padding:0 25px}
.pay_price_content>p{font-size:14px;margin:22px 0;color:black}
.pay_price_content li{width:180px;height:50px;float:left;margin-left:40px}
.pay_price_content li span{display:inline-block;width:130px;height:26px;text-align:center;line-height:26px;border-radius:12px;border:1px solid #ccc;margin-left:16px;cursor:pointer}
.pay_price_content ul{width:920px;height:100px}
.pay_price_content li input[type='text']{width:120px;height:20px;border-radius:12px;margin-left:10px;border:1px solid #ccc}
.pay_way p{color: black;font-size: 14px;margin-bottom:20px}
.pay_animate li{width:242px;height:40px;border:1px solid #ccc;color:black;font-size:14px;line-height:40px;text-align:center;background:#f8f8f8}
.pay_animate img{vertical-align:middle}
.pay_animate ul{height:84px;width:244px;float:left;margin-left:20px}
.pay_way{height:300px}
.payfor{float:left;color:black;font-size:14px;margin-left:36px}
.payfor span{color:red;font-size:16px}
.pay_sure{width:130px;height:26px;text-align:center;border:none;border-radius:12px;background:#384562;color:white;    top: 50px;
    left: 780px;position:relative}
.webchat_{position:absolute;width:233px;height:238px;background:url('../images/pay_back.png') no-repeat;    top: 10px;
    left: 7px;display:none}
	.webchat_ span{padding:8px;display:inline-block;border:1px dashed #858484;border-radius:8px;position:relative;top:28px}
	.webchat_ span img{width:150px}
.pay_sure:hover{background:#2e3a55}