.content_right{padding:40px}
.payroll_2_head{padding-left: 20px;border:1px solid #ccc!important}

.payroll_2_head button{padding:5px 15px;border-radius:12px;color:white;text-align:center;border:none;background:#5b6080;margin-right:20px}

.payroll_2_head button{box-shadow:0 0 0!important;padding:5px 15px;border-radius:8px;color:white;text-align:center;border:none;background:#5b6080;margin-right:20px}

.payroll_2_head button:hover{
	background:#4f5471
}
.payroll_1_search{position:relative;left:20px}
.payroll_1_search input{width:130px;height:18px;border-radius:12px;padding-left:10px}
.payroll_1_search em{position:absolute;right:8px;top:1px}
.payroll_1{width:11px;height:9px;background:url('../images/payroll_1.png') no-repeat;display:inline-block;cursor:pointer}
.payroll_2_left{float:left;width:160px;height:510px;border:1px solid #ccc;padding:10px 0 0 20px;overflow-y:scroll;box-shadow:0 0 10px #dbdce2}
.payroll_2_content{margin-top:35px;}
.payroll_2_right{float:left;border-radius:14px;height:630px;width:100%;border:1px solid #ccc;overflow:overlay}
.payroll_table td{height:38px;text-align:center;border:1px solid #dbdce2;vertical-align:middle;padding:0 10px}
.payroll_table{box-shadow:0 0 10px #dbdce2;width:100%;}
.payroll_table_content{margin-top:20px;}
.payroll_table tr:nth-child(even){background:#f6f8fc}
.payroll_table tr:nth-child(1){background:#ebeff8;height:60px}

.payroll_6{display:inline-block;width:29px;height:6px;background:url('../images/payroll_6.png')}
.payroll_partment img{vertical-align:middle;margin:0 5px 0 0px}
.payroll_job span img{vertical-align:middle;margin-right:5px}
.payroll_job{margin-left:52px}
.position{margin-left:80px}
.position img{margin-right:5px;position:relative;top:4px}

.payroll_2_head button{  width: 120px;
    height: 26px;
    border: none;
    text-align: center;
    border-radius: 12px;
    color: white;
    background: #59688a;
    margin-right:10px;
    line-height:10px
 }

.head_img img{width:100px}
.zzc{position: fixed;
    top: 0px;
    height: 1090px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background: rgba(102, 108, 121, 0.8);
    color: black;
    font-size: 12px;}
.zzc .emploee_information{width:820px;margin:2% auto;background:white;border-radius: 12px;overflow: hidden;}
.zzc .emploee_information>p{height:50px;text-align:center;line-height:50px;color:white;font-size:15px;background:#323b4e}
.head_img{float:left}
i,em{font-style:normal}
.information{width:660px;float:left;margin-left:20px}
.information span{display:inline-block;margin-right:17px;position:relative}
.information span i{position:absolute;}
.information input[type='text']{height:16px;width:130px;border:1px solid #ccc;border-radius:12px}
.information input[type='checkbox']{height:16px;width:16px;border:1px solid black;border-radius:}
.information select{height:18px;width:130px;border:1px solid #ccc;border-radius:12px}
.emploee_content{padding:15px 20px}
.information p{margin-bottom:10px}
.information p span em{display:inline-block;width:56px}
.imformation_left{width:780px}
.imformation_bottom{margin-top:14px}
.imformation_bottom input{    height: 18px;
    width: 130px;
    border: 1px solid black;
    border-radius: 12px;}
.imformation_bottom  span{    display: inline-block;
    margin-right: 17px;}
.imformation_bottom  span em{    display: inline-block;
    width: 60px;}	
.imformation_bottom>p{margin-bottom:14px}
.introduction{float:left;width:80px;height:200px;padding-top:10%}
.textarea{height:180px;margin-top:10px}
.textarea h5{text-align:center;font-size:16px}
.textarea p{font-size:10px;color:#b0aeae}
.textarea textarea{width:572px;height:170px;border:1px solid black;border-radius:12px}
.imformation_button{text-align:center;margin-top:15px}
.imformation_button button{width:130px;height:28px;bordeR:none;text-align:center;line-height:28px;color:white;border-radius:12px;margin:0 55px;background: #747e95;}
.imformation_button button:hover{
	background:#656f84
}

.information input[type="checkbox"]{ -webkit-appearance: none;
    appearance: none;
	 -moz-appearance:none;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    position: relative;
    top: -3px;
	margin-right:8px
    }
	
.information input[type="checkbox"]:checked {
    background: url(../images/checked.png) no-repeat;
    background-position: center center;
    border: 1px solid #d93717;
background-size: cover;}


.select_job_content_left{width:250px;float:left}
.select_job_content_left input{    height: 16px;
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 12px;}
.select_job_content_left em{display:inline-block;width:60px}

.select_job_content{margin-top:20px}
.select_job_content_left p{height:42px;line-height:42px}

.select_job_content_right{float:left;}
.select_job_content_right textarea{border: 1px solid black;width:506px;height:232px;margin-top:12px;border-radius:8px}

.select_job_content_left select{
    height: 16px;
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 12px;
}