.content_right{padding:15px 20px;color:black}
.content_right>ul{height:38px;position:relative;top:1px}
.content_right>ul li{cursor:pointer;width:127px;height:38px;font-size:14px;border:1px solid #ccc;float:left;border-radius:12px 12px 0 0;text-align:center;line-height:38px;color:#ccc}
.content_right>ul li:nth-child(1){border-right:none}

.content_right>ul>.active{color:black;border-bottom:1px solid #b8c7ea;background:#b8c7ea}
.wages_content{overflow-y:overlay;overflow-x:hidden;width:1037px;height:780px;border:1px solid #ccc;border-radius:0 12px 12px 12px;}
.wages_content_datail{background:#b8c7ea;padding:10px 0 10px 10px}

.wages_content_datail_top input{width:80px;height:16px;border-radius:12px;border:1px solid #718aaf}
.wages_content_datail_top select{margin:0 10px;padding:0 40px 0 70px;width:90px;height:24px;border-radius:12px;border:1px solid #718aaf}
.wages_content_datail_top button{width:80px;height:24px;border-radius:12px;border:1px solid #8298bd;border:none;text-align:center;line-height:24px;background:#7b809b;color:white}
.wages_content_datail_top button:hover{background:#70758e}

.zzc{display:none;font-size: 12px;color: black;position: fixed;top: 0px;height: 100%;left: 0px;width: 100%;z-index: 10000;background: rgba(102, 108, 121, 0.8);}
.zzc_wages{width:500px;height:320px;border-radius:12px;overflow:hidden;background:white;margin:10% auto}
.zzc_wages>p{height:60px;text-align:center;line-height:60px;font-size:14px;color:white;background:#464859}
.zzc_wages_content{padding:15px 25px}
.zzc_wages_content select{width:80px;padding:0 0 0 40px ;height:22px;border-radius:12px;border:1px solid #dcdcdc}
.zzc_wages_content i{display:inline-block;width:56px}
.zzc_wages_content input{width:100px;padding:0 20px 0 0px ;height:22px;border-radius:12px;border:1px solid #dcdcdc}
.zzc_wages_content span{display:inline-block;}
.zzc_wages_content span em{position:relative;right:20px;color:#bababa}
.total_top li:last-child{border-right:none}
.remarks{margin-top:14px}
.remarks_left{float:left;width:65px}
.remarks_right{float:left;width:372px}
.remarks_right textarea{width:372px;height:140px;border-radius:12px;border:1px solid #d2d2d2;resize:none}
.remarks_button{text-align:center;margin-top:20px}
.remarks_button button{width:130px;height:26px;color:white;font-size:14px;text-align:center;line-height:26px;border-radius:12px;border:none;background:#7b809b;margin:0 30px}
.remarks_button button:hover{background:#6f748e}
.total_bottom{border-radius:0 0 12px 12px;background:#b8c7ea;position:absolute;bottom:42px;left:0}
.total_bottom li{color:#ee1a1a;float:left;width:172px;height:42px;text-align:center;line-height:42px;border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #74aad7;}
.total_top{background:#ebeff8;position:absolute;top:-44px;left:0}
.total_top li{float:left;width:172px;height:42px;text-align:center;line-height:42px;border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.total_bottom li:last-child {
    border-right: none;
}
.third table td{width:100px}
.third  li{width:114px}
.third select{width:80px;padding:0 0 0 20px;margin:0 2px}
.third button{margin-left:10px}

::-webkit-scrollbar{height:7px}


.table_left{position:absolute;top:0;left:0;width:202px}
.table_left td{width:100px;height:42px;vertical-align:middle;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc}

.table_right{width:846px;overflow:scroll;position:absolute;left:201px;top:0}
.table_right td{width:100px;height:42px;vertical-align:middle;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc}

.wages_content_datail_table{position:relative}

.zzc>.zzc_new_style{width:490px;height:310px;background:white;border-radius:12px;overflow:hidden;margin:50px auto} 
.zzc>.zzc_new_style>p{height:38px;line-height:38px;text-align:center;font-size:14px;color:white;background:#3a4052}

.zzc_new_style_content{padding:15 25px}
.alert_saying{margin-top:15px}
.zzc_new_style_content_ul li{float:left;width:50%;text-align:center;margin-top:20px}
.zzc_new_style_content_ul li span{display:inline-block;width:70px}
.zzc_new_style_content_ul li select{padding:0 0 0 30px;width:100px;border-radius:12px;border:1px solid #ccc;height:24px}

.alert_saying_left{float:left;width:58px;margin-left:33px}
.alert_saying_right{float:left}
.alert_saying_right textarea{width:372px;height:100px;border-radius:12px;border:1px solid #ccc}
.new_style_button{margin-top:15px;text-align:center}
.new_style_button button{width:130px;height:26px;text-align:center;line-height:26px;border:none;border-radius:12px;color:white;background:#58617a;font-size:14px;margin:0 30px}
.new_style_button button:hover{background:#565d74}

.second{width:100%}
.second td{width:100px;text-align:center;vertical-align:middle;height:40px;border-bottom:1px solid #ccc;border-right:1px solid #ccc}
.wages_content_datail table{width:100%}

.wages_content_datail button{width:100px;height:40px;border:none;border-radius:12px;color:white;font-size:14px;text-align:center;line-height:40px;background:#66708f}
.wages_content_datail button:hover{background:#596381}
.wages_content_datail  input{width:100px;height:14px;border-radius:12px;border:1px solid #89a2d1}
.second td img{margin:0 10px}
.second_table td{height:34px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;vertical-align:middle;text-align:center}
.second_table td select{padding:0 0 0 20px;width:80px;height:24px;border-radius:12px;border:1px solid #89a2d1}
table tr:nth-child(1){font-weight:normal}

.table_left tr:nth-child(1){background:#ebeff8!important}
.table_right_head tr:nth-child(1){background:#ebeff8!important}
.table_right_head tr:nth-child(2){background:#ebeff8!important}
.table_right_head tr:nth-child(even){background:#f6f8fc}
.table_left tr:nth-child(odd){background:#f6f8fc}
.table_left table{margin-right:1px}
.award{color:#17e62a}
.punish{color:#e81717}

.table_right_center table{width:100%;    background: #b8c7ea;}
.table_right_center_content{position: absolute;
    bottom: 0;
    width: 100%;left:0;height;40px}
.table_right_center table td{width:100px;text-align:center;height:40px;vertical-align:middle;border-right:1px solid #89a2d1;border-top:1px solid #89a2d1;}	
.table_right_center{float:left}
.table_right_center table{width:202px}
.table_right_center_{float:left;width:910px}
.table_right_center_ table{width:100%}

.table_left table{border-right:1px solid #89a2d1;}
.table_left tr:last-child td{background:#b8c7ea;border-right:1px solid #ccc;}
.table_right_head tr:last-child td{background:#b8c7ea;border-right:1px solid #ccc;}

.second tr:nth-child(even){background:#ebeff8}