.content_right{padding:10px 20px}
.content_right>ul {
    height: 38px;
    position: relative;
    top: 1px;
}
.content_right>ul>.active {
    color: black;
    border-bottom: 1px solid #b8c7ea;
    background: #b8c7ea;
}
.content_right>ul li {
    cursor: pointer;
    width: 127px;
    height: 38px;
    font-size: 14px;
    border: 1px solid #1d4e97;
    border-right: none;
    float: left;
    border-radius: 12px 12px 0 0;
    text-align: center;
    line-height: 38px;
    color: #c5bfbd;
}
.content_right>ul li:nth-child(3) {
    border-right: 1px solid #1d4e97;
}

.wages_content {
    overflow: hidden;
    width: 1037px;
    height: 780px;
    border: 1px solid #1d4e97;
    border-radius: 0 12px 12px 12px;
}

.wages_content_datail {
    background: #b8c7ea;
    padding: 10px 0 10px 10px;
	border-bottom:1px solid #9b9b9b
}
.wages_content_datail_top span {
    display: inline-block;
    width: 82px;
    height: 26px;
    text-align: center;
    color: black;
    margin: 0 5px;
    cursor: pointer;
    line-height: 26px;
    border-radius: 12px;
    background: #e6e6e6;
}
.wages_content_datail_top span.active {
    background: #21a2e5;
    color: white;
}
.wages_content_datail_top select {
    margin: 0 10px;
    padding: 0 0 0 20px;
    width: 60px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #718aaf;
}
.wages_content_datail_top{color:black}
.wages_content_datail_top button{width:100px;height:24px;border:none;border-radius:12px;text-align:center;line-height:24px;color:white;background:#717a9a}
.wages_content_datail_top button:hover{background:#666e8b}

.wages_content_datail_top input{width:90px;height:14px;border-radius:12px;border:1px solid #aaaaaa;margin:0 5px}

.store_sell ul{height:80px;width:870px;background:url(../images/store_img.png) no-repeat;margin:40px auto}
.store_sell ul li{float:left;font-size:14px;color:white;width:210px;height:80px}
.store_sell ul li p{text-align:center;margin-top:14px}
.store_sell ul li:last-child{font-size:16px}

.store_sell_table{color:black;height:575px;overflow: overlay;}
.store_sell_table>p{position:relative;top:20px;background:#ebeff8;text-align:center;height:40px;line-height:40px;border-top:1px solid #9b9b9b;border-bottom:1px solid #9b9b9b;}
.store_sell_table>p span{font-size:14px;margin-right:5px}

.store_sell_table table{width:100%}
.store_sell_table tr td:last-child{border-right:none}
.store_sell_table td{position:relative;height:40px;width:100px;text-align:center;vertical-align:middle;border-bottom:1px solid #9b9b9b;border-right:1px solid #9b9b9b;}
.store_sell_table td em{color:#d51414}
.store_sell_table td img{position:absolute;top:12px;right:5px}

.store_sell_table1{position:absolute;top:41px;width:924px!important;background:#eeeeee}
table tr:nth-child(1){font-weight:normal!important;}

table:nth-child(even){background:#f6f8fc}
.store_sell_table>table{background:#ebeff8!important}

.store_sell_table_content{overflow:overlay}