.rightpanel{background:white}
.content_right{padding:40px 50px}
ul li{list-style:none}
.webchat{height:700px;width:315px;background:url('../images/phone_.png') no-repeat;background-size:315px 700px;padding:0 10px;float:left}
.webchat_p{position:relative;top:294px;}
.webchat_p p{border-bottom:1px solid #ccc;margin-top:20px;cursor:pointer;width:296px;height:30px;}
.webchat_p p:hover{
	color:black;font-weight:bold
}
.webchat_p em{position:relative;    left: 210px;
    top: 8px;
}

.webchat_div_{float:left;width:580px;  margin: 10px 20px;padding:10px;border:1px solid #ccc;height:670px}
.webchat_div_ .insert_img{   
    width: 130px;
    height: 35px;
    background:#f2f2f2;
    text-align: center;
    line-height: 35px;
    margin-bottom:20px;
    box-shadow: 0px 6px 10px #ccc;
    border: none;}
	.webchat_div_>span:hover{
	   background-color: #fff5d4;
       border: 1px solid #dcac6c;
	}
	
	.webchat_div_>span{
	  position: relative;left: 270px;top: 76px;z-index: 1000;width: 20px; height: 20px;text-align:center;line-height:20px;display:inline-block;border:1px solid #fafafa
	}
	.webchat_area{height:350px;width:600px;border:1px solid #ccc;resize:none;overflow-y: overlay;}
	
.webchat_div_ p{color:black}
	
.webchat_submit{
	 width: 130px;
    height: 28px;
    border-radius: 10px;
    background: #7485a7;
    text-align: center;
    line-height: 28px;
    
    box-shadow: 0px 6px 10px #ccc;
    border: none;
    color:white;
	margin: 30px 300px;
	
}
.webchat_div_ .insert_img{
	 position: relative;left: 270px; top: 96px;z-index: 1000;width: 20px;height: 20px;text-align: center;line-height: 20px;display: inline-block;border:1px solid #fafafa
}
.webchat_div_ .insert_img:hover{
	   background-color: #fff5d4;
       border: 1px solid #dcac6c;
}

.add_pic li{float:left;margin-top:20px;margin-right:60px}
.add_pic{width:400px;border:1px solid #e7e7eb;background:#fafbff;}
.iconfont{top: 110px!important;   left: 340px;}
.inner{height:540px!important}
.tijiao{background:#323a4c!important}
.shanchu-icon img{width:58px;height:58px}
.employeeSelected img{height:54px}

.designer-list .designer-item-content {
  padding: 15px 20px!important;
  height: 58px;
}

 .img  {display:inline-block;position:relative;top:-15px}
  .img img{height:18px!important;width:18px!important;}
  
  .shop-edit-area .tijiao{
	  
	  background-color:#7485a7!important;
	  border-radius:10px;
	  box-shadow:0 0 10px #ccc
  }
  .project-list-head .search-button{
	  
	   background-color:#2a3244!important;
  }
  
  input[type="search"] {
    border:1px solid #2a3244!important;
}
