<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.FavourableAccountMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.FavourableAccount" >
    <id column="favourable_id" property="favourableId" jdbcType="INTEGER" />
    <result column="favourable_namber" property="favourableNamber" jdbcType="CHAR" />
    <result column="favourable_name" property="favourableName" jdbcType="INTEGER" />
    <result column="favourable_type" property="favourableType" jdbcType="INTEGER" />
    <result column="favourable_strategy" property="favourableStrategy" jdbcType="INTEGER" />
    <result column="favourable_allow" property="favourableAllow" jdbcType="INTEGER" />
    <result column="favourable_part" property="favourablePart" jdbcType="CHAR" />
    <result column="favourable_hair" property="favourableHair" jdbcType="CHAR" />
    <result column="favourable_tech" property="favourableTech" jdbcType="CHAR" />
    <result column="favourable_ assistant" property="favourableAssistant" jdbcType="CHAR" />
    <result column="store_account" property="storeAccount" jdbcType="CHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="fullstop" property="fullstop" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    favourable_id, favourable_namber, favourable_name, favourable_type, favourable_strategy, 
    favourable_allow, favourable_part, favourable_hair, favourable_tech, "favourable_ assistant", 
    store_account, store_id, fullstop, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from favourable_account
    where favourable_id = #{favourableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from favourable_account
    where favourable_id = #{favourableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.FavourableAccount" >
    insert into favourable_account (favourable_id, favourable_namber, favourable_name, 
      favourable_type, favourable_strategy, favourable_allow, 
      favourable_part, favourable_hair, favourable_tech, 
      "favourable_ assistant", store_account, store_id, 
      fullstop, is_deleted, create_time, 
      update_time)
    values (#{favourableId,jdbcType=INTEGER}, #{favourableNamber,jdbcType=CHAR}, #{favourableName,jdbcType=INTEGER}, 
      #{favourableType,jdbcType=INTEGER}, #{favourableStrategy,jdbcType=INTEGER}, #{favourableAllow,jdbcType=INTEGER}, 
      #{favourablePart,jdbcType=CHAR}, #{favourableHair,jdbcType=CHAR}, #{favourableTech,jdbcType=CHAR}, 
      #{favourableAssistant,jdbcType=CHAR}, #{storeAccount,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, 
      #{fullstop,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=CHAR}, 
      #{updateTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.FavourableAccount" >
    insert into favourable_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="favourableId != null" >
        favourable_id,
      </if>
      <if test="favourableNamber != null" >
        favourable_namber,
      </if>
      <if test="favourableName != null" >
        favourable_name,
      </if>
      <if test="favourableType != null" >
        favourable_type,
      </if>
      <if test="favourableStrategy != null" >
        favourable_strategy,
      </if>
      <if test="favourableAllow != null" >
        favourable_allow,
      </if>
      <if test="favourablePart != null" >
        favourable_part,
      </if>
      <if test="favourableHair != null" >
        favourable_hair,
      </if>
      <if test="favourableTech != null" >
        favourable_tech,
      </if>
      <if test="favourableAssistant != null" >
        "favourable_ assistant",
      </if>
      <if test="storeAccount != null" >
        store_account,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="fullstop != null" >
        fullstop,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="favourableId != null" >
        #{favourableId,jdbcType=INTEGER},
      </if>
      <if test="favourableNamber != null" >
        #{favourableNamber,jdbcType=CHAR},
      </if>
      <if test="favourableName != null" >
        #{favourableName,jdbcType=INTEGER},
      </if>
      <if test="favourableType != null" >
        #{favourableType,jdbcType=INTEGER},
      </if>
      <if test="favourableStrategy != null" >
        #{favourableStrategy,jdbcType=INTEGER},
      </if>
      <if test="favourableAllow != null" >
        #{favourableAllow,jdbcType=INTEGER},
      </if>
      <if test="favourablePart != null" >
        #{favourablePart,jdbcType=CHAR},
      </if>
      <if test="favourableHair != null" >
        #{favourableHair,jdbcType=CHAR},
      </if>
      <if test="favourableTech != null" >
        #{favourableTech,jdbcType=CHAR},
      </if>
      <if test="favourableAssistant != null" >
        #{favourableAssistant,jdbcType=CHAR},
      </if>
      <if test="storeAccount != null" >
        #{storeAccount,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="fullstop != null" >
        #{fullstop,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.FavourableAccount" >
    update favourable_account
    <set >
      <if test="favourableNamber != null" >
        favourable_namber = #{favourableNamber,jdbcType=CHAR},
      </if>
      <if test="favourableName != null" >
        favourable_name = #{favourableName,jdbcType=INTEGER},
      </if>
      <if test="favourableType != null" >
        favourable_type = #{favourableType,jdbcType=INTEGER},
      </if>
      <if test="favourableStrategy != null" >
        favourable_strategy = #{favourableStrategy,jdbcType=INTEGER},
      </if>
      <if test="favourableAllow != null" >
        favourable_allow = #{favourableAllow,jdbcType=INTEGER},
      </if>
      <if test="favourablePart != null" >
        favourable_part = #{favourablePart,jdbcType=CHAR},
      </if>
      <if test="favourableHair != null" >
        favourable_hair = #{favourableHair,jdbcType=CHAR},
      </if>
      <if test="favourableTech != null" >
        favourable_tech = #{favourableTech,jdbcType=CHAR},
      </if>
      <if test="favourableAssistant != null" >
        "favourable_ assistant" = #{favourableAssistant,jdbcType=CHAR},
      </if>
      <if test="storeAccount != null" >
        store_account = #{storeAccount,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="fullstop != null" >
        fullstop = #{fullstop,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
    </set>
    where favourable_id = #{favourableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.FavourableAccount" >
    update favourable_account
    set favourable_namber = #{favourableNamber,jdbcType=CHAR},
      favourable_name = #{favourableName,jdbcType=INTEGER},
      favourable_type = #{favourableType,jdbcType=INTEGER},
      favourable_strategy = #{favourableStrategy,jdbcType=INTEGER},
      favourable_allow = #{favourableAllow,jdbcType=INTEGER},
      favourable_part = #{favourablePart,jdbcType=CHAR},
      favourable_hair = #{favourableHair,jdbcType=CHAR},
      favourable_tech = #{favourableTech,jdbcType=CHAR},
      "favourable_ assistant" = #{favourableAssistant,jdbcType=CHAR},
      store_account = #{storeAccount,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      fullstop = #{fullstop,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=CHAR}
    where favourable_id = #{favourableId,jdbcType=INTEGER}
  </update>
</mapper>