<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.MemberCouponMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.MemberCoupon" >
    <id column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="member_info_id" property="memberInfoId" jdbcType="INTEGER" />
    <result column="stop_time" property="stopTime" jdbcType="CHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    m_id, coupon_id, member_info_id, stop_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_coupon
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_coupon
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.MemberCoupon" >
    insert into member_coupon (m_id, coupon_id, member_info_id, 
      stop_time, is_deleted)
    values (#{mId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}, #{memberInfoId,jdbcType=INTEGER}, 
      #{stopTime,jdbcType=CHAR}, #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.MemberCoupon" >
    insert into member_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        m_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="memberInfoId != null" >
        member_info_id,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="memberInfoId != null" >
        #{memberInfoId,jdbcType=INTEGER},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.MemberCoupon" >
    update member_coupon
    <set >
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="memberInfoId != null" >
        member_info_id = #{memberInfoId,jdbcType=INTEGER},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.MemberCoupon" >
    update member_coupon
    set coupon_id = #{couponId,jdbcType=INTEGER},
      member_info_id = #{memberInfoId,jdbcType=INTEGER},
      stop_time = #{stopTime,jdbcType=CHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
</mapper>