<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.ProjectCommissionMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.ProjectCommission" >
    <id column="commission_id" property="commissionId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="level_id" property="levelId" jdbcType="INTEGER" />
    <result column="assign_cash_type" property="assignCashType" jdbcType="INTEGER" />
    <result column="assign_cash" property="assignCash" jdbcType="DECIMAL" />
    <result column="assign_card" property="assignCard" jdbcType="DECIMAL" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
    <result column="commission_price" property="commissionPrice" jdbcType="INTEGER" />
    <result column="commission_no_price" property="commissionNoPrice" jdbcType="INTEGER" />
    <result column="commission_card" property="commissionCard" jdbcType="INTEGER" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    commission_id, project_id, level_id, assign_cash_type, assign_cash, assign_card, 
    is_deleted, create_time, update_time, last_operator_id, commission_price, commission_no_price, 
    commission_card, position_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_commission
    where commission_id = #{commissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_commission
    where commission_id = #{commissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.ProjectCommission" >
    insert into project_commission (commission_id, project_id, level_id, 
      assign_cash_type, assign_cash, assign_card, 
      is_deleted, create_time, update_time, 
      last_operator_id, commission_price, commission_no_price, 
      commission_card, position_id)
    values (#{commissionId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{levelId,jdbcType=INTEGER}, 
      #{assignCashType,jdbcType=INTEGER}, #{assignCash,jdbcType=DECIMAL}, #{assignCard,jdbcType=DECIMAL}, 
      #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=CHAR}, #{updateTime,jdbcType=CHAR}, 
      #{lastOperatorId,jdbcType=INTEGER}, #{commissionPrice,jdbcType=INTEGER}, #{commissionNoPrice,jdbcType=INTEGER}, 
      #{commissionCard,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.ProjectCommission" >
    insert into project_commission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commissionId != null" >
        commission_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="levelId != null" >
        level_id,
      </if>
      <if test="assignCashType != null" >
        assign_cash_type,
      </if>
      <if test="assignCash != null" >
        assign_cash,
      </if>
      <if test="assignCard != null" >
        assign_card,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id,
      </if>
      <if test="commissionPrice != null" >
        commission_price,
      </if>
      <if test="commissionNoPrice != null" >
        commission_no_price,
      </if>
      <if test="commissionCard != null" >
        commission_card,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commissionId != null" >
        #{commissionId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null" >
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="assignCashType != null" >
        #{assignCashType,jdbcType=INTEGER},
      </if>
      <if test="assignCash != null" >
        #{assignCash,jdbcType=DECIMAL},
      </if>
      <if test="assignCard != null" >
        #{assignCard,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
      <if test="lastOperatorId != null" >
        #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="commissionPrice != null" >
        #{commissionPrice,jdbcType=INTEGER},
      </if>
      <if test="commissionNoPrice != null" >
        #{commissionNoPrice,jdbcType=INTEGER},
      </if>
      <if test="commissionCard != null" >
        #{commissionCard,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.ProjectCommission" >
    update project_commission
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null" >
        level_id = #{levelId,jdbcType=INTEGER},
      </if>
      <if test="assignCashType != null" >
        assign_cash_type = #{assignCashType,jdbcType=INTEGER},
      </if>
      <if test="assignCash != null" >
        assign_cash = #{assignCash,jdbcType=DECIMAL},
      </if>
      <if test="assignCard != null" >
        assign_card = #{assignCard,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="commissionPrice != null" >
        commission_price = #{commissionPrice,jdbcType=INTEGER},
      </if>
      <if test="commissionNoPrice != null" >
        commission_no_price = #{commissionNoPrice,jdbcType=INTEGER},
      </if>
      <if test="commissionCard != null" >
        commission_card = #{commissionCard,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
    </set>
    where commission_id = #{commissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.ProjectCommission" >
    update project_commission
    set project_id = #{projectId,jdbcType=INTEGER},
      level_id = #{levelId,jdbcType=INTEGER},
      assign_cash_type = #{assignCashType,jdbcType=INTEGER},
      assign_cash = #{assignCash,jdbcType=DECIMAL},
      assign_card = #{assignCard,jdbcType=DECIMAL},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=CHAR},
      last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      commission_price = #{commissionPrice,jdbcType=INTEGER},
      commission_no_price = #{commissionNoPrice,jdbcType=INTEGER},
      commission_card = #{commissionCard,jdbcType=INTEGER},
      position_id = #{positionId,jdbcType=INTEGER}
    where commission_id = #{commissionId,jdbcType=INTEGER}
  </update>
</mapper>