.content {
  width: 100%;
  height: 100%;
  background-color: #0a1718;
}
.chart-bg {
  width: 100%;
  height: 100%;
  background-color: #0a1718;
}
.btn-bumen {
  position: absolute;
  min-width: 12rem;
  padding: 0 3rem;
  height: 4.125rem;
  line-height: 3.125rem;
  top: -0.4rem;
  right: .5rem;
  background: url("../../images/mobile/boss-newer/btn-bumen.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding-top: 0.4rem;
}
.year-month-day {
  position: absolute;
  top: 2rem;
  left: 1.25rem;
}
.year-month-day li {
  position: relative;
  float: left;
  display: inline-block;
  height: 3.125rem;
  line-height: 3.125rem;
  padding: 0 2rem;
  background-color: #2c3539;
  color: #6c8a8c;
  z-index: 2;
}
.year-month-day li.active {
  color: #fff;
  background-color: #12b5b1;
}
.year-month-day li.active:after {
  content: '';
  position: absolute;
  border: 1rem solid;
  border-color: #12b5b1 transparent transparent transparent;
  left: 35%;
  bottom: -1.875rem;
}
.part-chart {
  position: relative;
  border-top: 0;
  clear: both;
  padding: 6.875rem 0 5rem;
}
.part-chart:first-child {
  border-top: 0.25rem solid #2c3433;
  padding-top: 8rem;
}
.left-tag-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.4375rem;
}
.part-tag {
  padding: 0 4rem;
  min-width: 15rem;
  position: absolute;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  top: 0;
  left: 50%;
  background: url("../../images/mobile/boss-newer/tab-content.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.chart-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.swiper-slide {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: .8rem;
  height: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  font-size: 1.8rem;
  width: 10rem;
}
.b-slider {
  border-bottom: 0.25rem solid #000000;
}
.btn-bumen .icon-zhankai {
  font-size: 1.5rem;
}
.sum-position {
  position: absolute;
  top: 5rem;
  left: 2rem;
  z-index: 2;
}
.legent-tag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.625rem;
  color: #a2abb5;
  box-sizing: content-box;
  border: .4rem solid;
  vertical-align: middle;
}
table {
  width: 100%;
  text-align: center;
  color: #a2abb5;
  font-size: 1.5rem;
}
thead th {
  height: 3.75rem;
  background-color: #1b282e;
  font-weight: bold;
}
thead th.active {
  background-color: #12b5b1;
  color: #0a1718;
}
.search-desc {
  height: 2.75rem;
  text-align: center;
  color: #a2abb5;
  font-size: 1.125rem;
  background-color: #0a1718;
}
tbody td {
  height: 5rem;
  font-size: 1.25rem;
}
tbody td img {
  height: 2.8rem;
  width: 1.5rem;
  vertical-align: bottom;
}
tbody tr:nth-child(odd) td {
  background-color: #0a1718;
}
tbody tr:nth-child(even) td {
  background-color: #142125;
}
.red {
  background-color: #ff7e7d;
  border-color: #322828;
}
.orange {
  background-color: #ffc07b;
  border-color: #38372b;
}
.yellow {
  background-color: #fcd25a;
  border-color: #3a3c25;
}
.fyellow {
  color: #fcd25a;
}
.fgreen {
  color: #35cb66;
}
.fred {
  color: #ff7e7d;
}
.green {
  background-color: #35cb66;
  border-color: #415a3b;
}
.blue {
  background-color: #1a63b0;
  border-color: #0d2535;
}
.pink {
  background-color: pink;
  border-color: #393342;
}
.purple {
  background-color: #5b50cd;
  border-color: #1a223c;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22src%2Fassets%2Fcss%2Fboss-newer%2Fchart-component.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAGA%3BEACE%2CWAAA%3BEACA%2CYAAA%3BEACA%2CyBAAA%3B%3BAAIF%3BEACE%2CWAAA%3BEACA%2CYAAA%3BEACA%2CyBAAA%3B%3BAAIF%3BEACE%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CYAAA%3BEACA%2CgBAAgB%2CkDAAhB%3BEACA%2C0BAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CiBAAA%3BEACA%2CsBAAA%3BEACA%2CmBAAA%3B%3BAAIF%3BEACE%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CaAAA%3B%3BAAGF%2CeAAgB%3BEACd%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CqBAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEACA%2CeAAA%3BEACA%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CUAAA%3B%3BAAGF%2CeAAgB%2CGAAE%3BEAChB%2CWAAA%3BEACA%2CyBAAA%3B%3BAAGF%2CeAAgB%2CGAAE%2COAAO%3BEACvB%2CSAAS%2CEAAT%3BEACA%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CyDAAA%3BEACA%2CSAAA%3BEACA%2CiBAAA%3B%3BAAGF%3BEACE%2CkBAAA%3BEACA%2CaAAA%3BEACA%2CWAAA%3BEACA%2CwBAAA%3B%3BAACA%2CWAAC%3BEACC%2CiCAAA%3BEACA%2CiBAAA%3B%3BAAIJ%3BEACE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CWAAA%3BEACA%2CiBAAA%3B%3BAAGF%3BEACE%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEACA%2CkBAAA%3BEACA%2CMAAA%3BEACA%2CSAAA%3BEACA%2CgBAAgB%2CoDAAhB%3BEACA%2C0BAAA%3BEACA%2CWAAA%3BEACA%2CiBAAA%3BEACA%2CmBAAmB%2CgBAAnB%3BEACA%2CgBAAgB%2CgBAAhB%3BEACA%2CeAAe%2CgBAAf%3BEACA%2CWAAW%2CgBAAX%3B%3BAAIF%3BEACE%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3B%3BAAGF%3BEACE%2C0CAAA%3BEACA%2CWAAA%3BEACA%2CoBAAA%3BEACA%2CeAAA%3BEACA%2CoBAAA%3BEACA%2CkBAAA%3BEACA%2CiBAAA%3BEACA%2CYAAA%3B%3BAAIF%3BEACE%2CoCAAA%3B%3BAAIF%2CUAAW%3BEACT%2CiBAAA%3B%3BAAIF%3BEACE%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEACA%2CUAAA%3B%3BAAGF%3BEACE%2CWAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CqBAAA%3BEACA%2CsBAAA%3BEACA%2CcAAA%3BEACA%2CuBAAA%3BEACA%2CmBAAA%3BEACA%2CsBAAA%3B%3BAAIF%3BEACE%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CcAAA%3BEACA%2CiBAAA%3B%3BAAGF%2CKAAM%3BEACJ%2CeAAA%3BEACA%2CyBAAA%3BEACA%2CiBAAA%3B%3BAACA%2CKAJI%2CGAIH%3BEACC%2CyBAAA%3BEACA%2CcAAA%3B%3BAAGJ%3BEACE%2CeAAA%3BEACA%2CkBAAA%3BEACA%2CcAAA%3BEACA%2CmBAAA%3BEACA%2CyBAAA%3B%3BAAGF%2CKAAM%3BEACJ%2CYAAA%3BEACA%2CkBAAA%3B%3BAAFF%2CKAAM%2CGAGJ%3BEACE%2CcAAA%3BEACA%2CaAAA%3BEACA%2CsBAAA%3B%3BAAIJ%2CKAAM%2CGAAE%2CUAAU%2CKAAM%3BEACtB%2CyBAAA%3B%3BAAGF%2CKAAM%2CGAAE%2CUAAU%2CMAAO%3BEACvB%2CyBAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAGF%3BEACE%2CcAAA%3B%3BAAGF%3BEACE%2CcAAA%3B%3BAAGF%3BEACE%2CcAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAGF%3BEACE%2CsBAAA%3BEACA%2CqBAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2CqBAAA%22%7D */